footer
div.bg-mora
        div.bg-white
                    img(src="./images/global/curvamora.png", alt="" class="img-fluid" style="width:100%")
        div.bg-mora
            <section class="container text-white">
                div.my-4
                        div.justify-content-center.d-flex
                            div.d-lg-flex.d-block
                                h5.mt-4.text-center.fw400 Una web educativa de 
                                <img src="./images/global/logo_juntasappw.png" alt="" width="250" height="53" class="m-2">
                        div.justify-content-center.d-flex.mt-5.mb-6
                            a(href="").btn.btn-secondary.m-3 
                                    h6.m-2.fw700 Conócenos
                div 
                    <div class="row">
                        <div class="col-md-6 ">
                            div.mb-md-0.mb-5
                                <img src="./images/global/logo_juntasappw.png" alt="" width="250" height="53">
                        </div>
                        <div class="col-md-6">
                            <div class="row h6 fw400">
                                <div class="col-lg-4 col-6 ">
                                    a(href="#").text-decoration-none.text-white Planes
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Beneficios
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Contendio
                                </div>
                                <div class="col-lg-4 col-6">
                                    a(href="#").text-decoration-none.text-white Sobre Juntas
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Especialistas
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Contáctanos
                                    br
                                    br
                                </div>
                                <div class="col-lg-4 col-8">
                                    a(href="#").text-decoration-none.text-white Ayuda
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Preguntas frecuentes
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Políticas de privacidad
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Libro de reclamaciones
                                    br
                                    br
                                </div>
                            </div>
                        </div>
                    </div>
                div.d-flex.align-items-md-center.justify-content-md-start.justify-content-end 
                    div.mb-5.mt-md-0.mt-3.align-text-end.d-flex
                        h6.fw-400 Síguenos: 
                    div.mb-8.d-flex
                        div
                            a(href="#").text-decoration-none.text-white <i class="m-2 fa-brands fa-instagram h2"></i>
                            a(href="#").text-decoration-none.text-white <i class="m-2 fa-brands fa-square-facebook h2"></i> 
                            a(href="#").text-decoration-none.text-white <i class="m-2 fa-brands fa-linkedin h2"></i>
            </section>