footer
<section class="container my-5">
    div.d-block.my-5
        div.justify-content-center.d-flex
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
        div.justify-content-center.d-flex
            <button class="btn btn-primary my-4" type="submit">Regístrate gratis</button>
    div.my-5
        <div class="row">
            <div class="col-md-6">
                h5 Entérate de novedades y recibe información exclusiva con nuestro Newsletter
                p *Al dejar tus datos estás aceptando nuestros términos y condiciones
            </div>
            <div class="col-md-6 text-center">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escribe tu correo electrónico" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Suscríbete</button>
                </div>
            </div>
        </div>
    div.my-5 
        <div class="row">
            <div class="col-md-6">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        a(href="#").text-decoration-none Planes
                        br
                        a(href="#").text-decoration-none Beneficios
                        br
                        a(href="#").text-decoration-none Contendio
                    </div>
                    <div class="col-md-4">
                        a(href="#").text-decoration-none Sobre Juntas
                        br
                        a(href="#").text-decoration-none Especialistas
                        br
                        a(href="#").text-decoration-none Contáctanos
                        br
                    </div>
                    <div class="col-md-4 ">
                        a(href="#").text-decoration-none Ayuda
                        br
                        a(href="#").text-decoration-none Preguntas frecuentes
                        br
                        a(href="#").text-decoration-none Políticas de privacidad
                        br
                        a(href="#").text-decoration-none Libro de reclamaciones
                        br
                    </div>
                </div>
            </div>
        </div>
    div.d-flex.align-items-center Síguenos: <i class="m-2 fa-brands fa-instagram fs-3"></i> <i class="m-2 fa-brands fa-square-facebook fs-3"></i> <i class="m-2 fa-brands fa-linkedin fs-3"></i>
</section>
