footer
div.bg-mora
        div.bg-total
                img(src="./images/footer/footer1.png", alt="" class="img-fluid" style="width:100%")
        <section class="container text-white">
                div
                    div.justify-content-center.d-flex
                        div.d-lg-flex.d-block
                            h5.mt-4.text-center.fw400 Una web educativa de 
                            <img src="./images/global/logo_juntasappw.png" alt="" width="210" height="48" class="m-2">
        </section>
        div
                img(src="./images/footer/footer2.png", alt="" class="img-fluid" style="width:100%")
        <section class="container text-white">
                div
                    div.justify-content-center.d-lg-flex.d-none.mt--2
                                a(href="").btn.btn-secondary.m-3 
                                        h6.m-2.fw700 Conócenos
                    div.justify-content-center.d-lg-none.d-flex.mt--1
                                a(href="").btn.btn-secondary.m-3 
                                        h6.m-2.fw700 Conócenos
        </section>
        div.mb-5
                img(src="./images/footer/footer3.png", alt="" class="img-fluid" style="width:100%")
        div.bg-mora
            <section class="container text-white">
                <div class="row my-5">
                        <div class="col-md-6">
                            div.me-md-5.me-0
                                h5.fw700 Entérate de novedades y recibe información exclusiva con nuestro Newsletter
                                p.fw400 *Al dejar tus datos estás aceptando nuestros términos y condiciones
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="input-group my-md-0 my-4">
                                <input type="text" class="form-control rounded-4 " placeholder="Escribe tu correo electrónico" aria-label="Recipient's username" aria-describedby="button-addon2">
                                a(href="").btn.btn-secondary 
                                    h6.m-2.fw700 Suscríbete
                            </div>
                        </div>
                </div>
                div 
                    <div class="row">
                        <div class="col-md-6 ">
                            div.mb-md-0.mb-5
                                <img src="./images/global/logo_juntasappw.png" alt="" width="210" height="48">
                        </div>
                        <div class="col-md-6">
                            <div class="row h6 fw400">
                                <div class="col-lg-4 col-6 ">
                                    a(href="#").text-decoration-none.text-white Planes
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Beneficios
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Contendio
                                </div>
                                <div class="col-lg-4 col-6">
                                    a(href="#").text-decoration-none.text-white Sobre Juntas
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Especialistas
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Contáctanos
                                    br
                                    br
                                </div>
                                <div class="col-lg-4 col-8">
                                    a(href="#").text-decoration-none.text-white Ayuda
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Preguntas frecuentes
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Políticas de privacidad
                                    br
                                    br
                                    a(href="#").text-decoration-none.text-white Libro de reclamaciones
                                    br
                                    br
                                </div>
                            </div>
                        </div>
                    </div>
                div.d-flex.align-items-md-center.justify-content-md-start.justify-content-end 
                    div.mb-5.mt-md-0.mt-3.align-text-end.d-flex
                        h5.fw-400.d-lg-flex.d-none Síguenos:
                        h6.fw-400.d-lg-none.d-flex Síguenos: 
                    div.mb-8.d-flex
                        div
                            a(href="#").text-decoration-none.text-white <i class="m-2 fa-brands fa-instagram h2"></i>
                            a(href="#").text-decoration-none.text-white <i class="m-2 fa-brands fa-square-facebook h2"></i> 
                            a(href="#").text-decoration-none.text-white <i class="m-2 fa-brands fa-linkedin h2"></i>
            </section>