header.bg-total.sticky-top
    div
        <nav class="bg-total container navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand me-3" href="#">
                    <img src="./images/global/logo_juntasapp2.png" alt="" width="140" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link active fw700 me-4 h6 mt-2"href="#">Sobre juntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fw700 me-4 h6 mt-2" href="#">Beneficios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fw700 h6 mt-2" href="#">Planes</a>
                        </li>
                    </ul>
                    <form class="d-lg-flex d-block">
                        a(href="mi-perfil.html").btn.btn-outline-primary.me-3.m-2
                            h6.m-1.fw700 Iniciar sesión
                        a(href="mi-perfil.html").btn.btn-secondary.m-2
                            h6.m-1.fw700 Regístrate gratis
                    </form>
                </div>
            </div>
        </nav>