header
    div.bg-white.sticky-top
        <nav class="bg-white container navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="#">
                    <img src="./images/global/logo_juntasapp.png" alt="" width="160" height="37">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link active font-weight-bold me-4 h5 mt-2"href="#">Sobre juntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold me-4 h5 mt-2" href="#">Beneficios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold h5 mt-2" href="#">Planes</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        a(href="mi-perfil.html").btn.btn-outline-primary.me-3 
                            h5.m-1.font-weight-bold Iniciar sesión
                        a(href="mi-perfil.html").btn.btn-secondary 
                            h5.m-1.font-weight-bold Regístrate gratis
                    </form>
                </div>
            </div>
        </nav>