header.bg-mora.sticky-top
    div
            <nav class="bg-mora container navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand me-4" href="#">
                        <img src="./images/global/logo_juntasappw2.png" alt="" width="140" height="45">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="me-xl-5 me-2 col-md-4 col-0">
                            <input type="search" class="my-md-0 my-2 form-control rounded-4" id="exampleFormControlInput1" placeholder="Buscar">
                    </div>
                    <a href="home-freemium.html"style="width:3.5rem;height:3rem" class="my-md-0 my-2 d-lg-none d-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                        h6.m-1.ffw800 LA
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 ">
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-4 me-1 h6 mt-2" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-4 me-1 h6 mt-2" href="#">Guardados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-3 me-1 h6 mt-2" href="#">Dudas</a>
                                </li>
                            </ul>
                    </div>
                    <a href=""style="width:3rem;height:3rem" class="my-md-0 my-2 d-none d-lg-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                        h6.m-1.fw800 LA
                    </a>
                </div>
            </nav>
div 
    section.bg-mora.border-top
                div.container
                    div.d-flex.justify-content-center.align-items-center.p-1
                        a.text-white.anterior
                                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                        div.d-flex.lista
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Límites
                            div
                                a(href="uso_filtro-freemium.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Salud Mental 
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Identidad
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Cuerpo
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Límites
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Salud Mental 
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Identidad
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Cuerpo
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Límites
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Salud Mental 
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Identidad
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Cuerpo
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Límites
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Salud Mental 
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Identidad
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Cuerpo
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Límites
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Salud Mental 
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Identidad
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Cuerpo
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Límites
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Salud Mental 
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Identidad
                            div
                                a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h7.m-1.fw300 Cuerpo

                        a.text-white.siguiente 
                                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    section.bg-mora.border-top
                div.container
                    div.d-flex.p-2
                        a(href="mi-perfil.html" data-bs-toggle="modal" data-bs-target="#exampleModal").my-2.btn-filtrar.text-decoration-none.color-black.d-flex
                            <i class="fa-solid fa-list-ul m-2 fw400 h-6"></i>
                            h6.m-2.fw400 Filtrar contenido por
    div 
        <div class="modal fade rounded-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h6 class="modal-title text-center d-flex" id="exampleModalLabel">FILTROS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">...</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>