header
div.bg-mora.sticky-top
        <nav class="bg-mora container navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="#">
                    <img src="./images/global/logo_juntasappw.png" alt="" width="160" height="37">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="me-xl-5 me-0  col-md-5 col-0">
                        <input type="search" class="my-md-0 my-2 form-control rounded-4" id="exampleFormControlInput1" placeholder="Buscar">
                </div>
                <a href="home-freemium.html"style="width:3.5rem;height:3rem" class="my-md-0 my-2 d-lg-none d-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                    h5.m-1.font-weight-bold LA
                </a>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-bold me-md-4 me-1 h5 mt-2" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-bold me-md-4 me-1 h5 mt-2" href="#">Guardados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-bold me-md-3 me-1 h5 mt-2" href="#">Dudas</a>
                            </li>
                        </ul>
                </div>
                <a href="home-freemium.html"style="width:3rem;height:3rem" class="my-md-0 my-2 d-none d-lg-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                    h5.m-1.font-weight-bold LA
                </a>
                </div>
            </div>
        </div>