header.bg-mora.sticky-top
    div.bg-mora
            <nav class="bg-mora container navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand me-2" href="home-freemium.html">
                        <img src="./images/global/logo_juntasappw2.png" alt="" width="140" height="50">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="me-xl-5 me-1 col-md-6 col-0 d-flex grupo">
                            <i class="fa-solid fa-magnifying-glass icono"></i>
                            <input type="search" class="my-md-0 my-2 form-control form-control-sm union rounded-4 bg-total border-mora" id="exampleFormControlInput1" placeholder="Escribe el tema que estás buscando aquí">
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 ">
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-4 me-1 h6 mt-2" href="home-freemium.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-4 me-1 h6 mt-2" href="trytoentersavepage-freemium.html">Guardados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-3 me-1 h6 mt-2" href="doubtbox2-freemium.html">Dudas</a>
                                </li>
                                <li class="nav-item">
                                    <a href=""style="width:3rem;height:3rem" class="my-md-0 my-2 d-lg-none d-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                                        h6.m-1.fw800 LA
                                    </a>
                                </li>
                            </ul>
                    </div>
                    <a href=""style="width:3rem;height:3rem" class="my-md-0 my-2 d-none d-lg-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                        h6.m-1.fw800 LA
                    </a>
                </div>
            </nav>
div.bg-mora
    section.bg-mora
                div.container
                    div.d-flex.justify-content-center.align-items-center.p-1
                        a.color-icon2.anterior
                                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                        div.d-flex.lista
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Límites
                            div
                                a(href="uso_filtro-freemium.html").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Salud Mental 
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Identidad
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Cuerpo
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Límites
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Salud Mental 
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Identidad
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Cuerpo
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Límites
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Salud Mental 
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Identidad
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Cuerpo
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Límites
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Salud Mental 
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Identidad
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Cuerpo
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Límites
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Salud Mental 
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Identidad
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Cuerpo
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Límites
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Salud Mental 
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Identidad
                            div
                                a(href="").m-2.col-11.btn.btn-sm.btn-white 
                                            h6.letra.m-1.fw300 Cuerpo

                        a.color-icon2.siguiente 
                                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    section.bg-mora
        div.container
            <form class="p-2">
                <div class="multiselect my-2 bg-total">
                    <div class="selectBox " id="selectBox">
                        <select class="p-1">
                            <option>
                                h6.m-2.fw400 Filtrar contenido por
                            </option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        h5.fw400.m-2.mt-3 Duración
                        div.d-flex.justify-content-center
                            div.col-9
                                <label for="one">
                                    div.d-flex.align-items-center.justify-content-between
                                        <label class="form-check-label" for="flexCheckDefault">
                                            div.d-flex.m-1.justify-content-center
                                                            div.d-flex.align-items-center
                                                                <i class="fa-regular fa-clock me-2"></i>
                                                            div.d-flex.align-items-center
                                                                h6.fw400.m-1 3 min
                                        </label>
                                        <input class="form-check-input m-2" type="checkbox" value="" id="flexCheckDefault">
                                </label>
                                <label for="two">
                                    div.d-flex.align-items-center.justify-content-between
                                        <label class="form-check-label" for="flexCheckDefault">
                                            div.d-flex.m-1.justify-content-center
                                                            div.d-flex.align-items-center
                                                                <i class="fa-regular fa-clock me-2"></i>
                                                            div.d-flex.align-items-center
                                                                h6.fw400.m-1 5 min
                                        </label>
                                        <input class="form-check-input m-2" type="checkbox" value="" id="flexCheckDefault">
                                </label>
                                <label for="three">
                                    div.d-flex.align-items-center.justify-content-between
                                        <label class="form-check-label" for="flexCheckDefault">
                                            div.d-flex.m-1.justify-content-center
                                                            div.d-flex.align-items-center
                                                                <i class="fa-regular fa-clock me-2"></i>
                                                            div.d-flex.align-items-center
                                                                h6.fw400.m-1 7 min
                                        </label>
                                        <input class="form-check-input m-2" type="checkbox" value="" id="flexCheckDefault">
                                </label>
                        h5.fw400.m-2.mt-3 Formato
                        div.d-flex.justify-content-center.mb-3
                            div.col-9.mb-3
                                <label for="one">
                                    div.d-flex.align-items-center.justify-content-between
                                        <label class="form-check-label" for="flexCheckDefault">
                                            div.d-flex.m-1.justify-content-center
                                                            div.d-flex.align-items-center
                                                                <i class="fa-regular fa-clock me-2"></i>
                                                            div.d-flex.align-items-center
                                                                h6.fw400.m-1 Videos
                                        </label>
                                        <input class="form-check-input m-2" type="checkbox" value="" id="flexCheckDefault">
                                </label>
                                <label for="two">
                                    div.d-flex.align-items-center.justify-content-between
                                        <label class="form-check-label" for="flexCheckDefault">
                                            div.d-flex.m-1.justify-content-center
                                                            div.d-flex.align-items-center
                                                                <i class="fa-regular fa-clock me-2"></i>
                                                            div.d-flex.align-items-center
                                                                h6.fw400.m-1 Podcast
                                        </label>
                                        <input class="form-check-input m-2" type="checkbox" value="" id="flexCheckDefault">
                                </label>
                                <label for="three">
                                    div.d-flex.align-items-center.justify-content-between
                                        <label class="form-check-label" for="flexCheckDefault">
                                            div.d-flex.m-1.justify-content-center
                                                            div.d-flex.align-items-center
                                                                <i class="fa-regular fa-clock me-2"></i>
                                                            div.d-flex.align-items-center
                                                                h6.fw400.m-1 Artículos
                                        </label>
                                        <input class="form-check-input m-2" type="checkbox" value="" id="flexCheckDefault">
                                </label>
                    </div>
                </div>
            </form>
    div 
        <div class="modal fade rounded-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content rounded-top-5">
                    <div class="modal-header text-center">
                        div.col-2
                        <h4 class="modal-title col-8 fw700" id="exampleModalLabel">FILTROS</h4>
                        <button type="button" class="col-2 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"> 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item h5">Por Duración </li>
                                div.d-flex.justify-content-center
                                    <table class="table col-6">
                                        <tbody>
                                            <tr>
                                                <td class="col-6">
                                                    div.d-flex.m-1.justify-content-center
                                                        div
                                                            <i class="fa-regular fa-clock me-2"></i>
                                                        div
                                                            h6.fw400.m-1 3 min
                                                </td>
                                                <td class="col-3"><input class="form-check-input fs-5 m-2" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
                                            </tr>
                                            <tr>
                                                <td class="col-6">
                                                    div.d-flex.m-1.justify-content-center
                                                        div
                                                            <i class="fa-regular fa-clock me-2"></i>
                                                        div
                                                            h6.fw400.m-1 5 min
                                                </td>
                                                <td class="col-3"><input class="form-check-input fs-5 m-2 " type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
                                            </tr>
                                            <tr>
                                                <td class="col-6">
                                                    div.d-flex.m-1.justify-content-center
                                                        div
                                                            <i class="fa-regular fa-clock me-2"></i>
                                                        div
                                                            h6.fw400.m-1 7 min
                                                </td>
                                                <td class="col-3"><input class="form-check-input fs-5 m-2" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <li class="list-group-item fw400 h5">Por Formato</li>
                                div
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="col-6">
                                                    div.text-center.m-1
                                                        h6.fw400 Videos
                                                </td>
                                                <td class="col-3"><input class="form-check-input fs-5 m-1" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
                                            </tr>
                                            <tr>
                                                <td class="col-6">
                                                    div.text-center.m-1
                                                        h6.fw400 Podcast
                                                </td>
                                                <td class="col-3"><input class="form-check-input fs-5 m-1" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
                                            </tr>
                                            <tr>
                                                <td class="col-6">
                                                    div.text-center.m-1
                                                        h6.fw400 Artículos
                                                </td>
                                                <td class="col-3"><input class="form-check-input fs-5 m-1" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </ul>
                            div.d-flex.justify-content-center
                                a(href="").col-6.btn.btn-secondary 
                                    h6.m-1.fw700 Aplicar
                    </div>
                </div>
            </div>
        </div>