header
<nav class="bg-white sticky-top container navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.pinpng.com/pngs/m/130-1301611_asus-rog-logo-png-rog-logo-png-transparent.png" alt="" width="200" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold me-4" aria-current="page" href="#">Sobre juntas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold me-4" href="#">Beneficios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">Planes</a>
                </li>
            </ul>
            <form class="d-flex">
                a(href="mi-perfil.html").font-weight-bold.btn.btn-outline-primary.shadow.me-3 
                    p.m-1 Iniciar sesión
                a(href="mi-perfil.html").font-weight-bold.btn.btn-secondary.shadow 
                    p.m-1 Regístrate gratis
            </form>
        </div>
    </div>
</nav>