header.bg-mora.sticky-top
    div
            <nav class="bg-mora container navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand me-2" href="home-premium.html">
                        <img src="./images/global/newlogojuntas.png" alt="" width="190" height="40">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="me-xl-5 me-1 col-md-6 col-0 d-flex grupo">
                            <i class="fa-solid fa-magnifying-glass icono"></i>
                            <input type="search" class="my-md-0 my-2 form-control form-control-sm union rounded-4 bg-total border-mora"  id="exampleFormControlInput1" placeholder="Escribe el tema que estás buscando aquí">
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 ">
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-4 me-1 h6 mt-2" href="home-premium.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-4 me-1 h6 mt-2" href="guardados-premium.html">Guardados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw700 me-md-3 me-1 h6 mt-2" href="doubtbox2-premium.html">Dudas</a>
                                </li>
                                <li class="nav-item">
                                    <a href=""style="width:3rem;height:3rem" class="my-md-0 my-2 d-lg-none d-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                                        h6.m-1.fw800 LA
                                    </a>
                                </li>
                            </ul>
                    </div>
                    <a href=""style="width:3rem;height:3rem" class="my-md-0 my-2 d-none d-lg-flex align-items-center justify-content-center rounded-circle btn btn-secondary">
                        h6.m-1.fw800 LA
                    </a>
                </div>
            </nav>
