$bg-primary: #5879BC
$bg-secondary: #E5483D
$bg-amarillo: #F3D391
$bg-agua: #7BBBC5
$bg-white: #ffffff

.bg-white
    background-color: $bg-white

.bg-mora
    background-color: $bg-primary

.bg-naranja
    background-color: $bg-secondary

.bg-amarillo
    background-color: $bg-amarillo

.bg-agua
    background-color: $bg-agua