$bg-mora: #5879BC
$bg-mora2: #AE95DA
$bg-mora-fuerte: #B24FB4
$bg-mora-bajo:#B8CBF1
$bg-mora-bajo2:#B9A4DD
$bg-rosada:#EEB2CA
$bg-naranja:  #FF7C5F
$bg-naranja2: #F37053
$bg-amarillo: #F3D391
$bg-agua: #7BBBC5
$bg-agua2:#61B0BC
$bg-white: #ffffff
$bg-total:#F9F8F3

.bg-mora-fuerte
    background-color: $bg-mora-fuerte

.bg-mora2
    background-color: $bg-mora2

.bg-rosada
    background-color: $bg-rosada

.bg-total
    background-color: $bg-total

.bg-white
    background-color: $bg-white

.bg-mora-bajo
    background-color: $bg-mora-bajo

.bg-mora-bajo2
    background-color: $bg-mora-bajo2

.bg-mora
    background-color: $bg-mora

.bg-naranja2
    background-color: $bg-naranja2

.bg-naranja
    background-color: $bg-naranja

.bg-amarillo
    background-color: $bg-amarillo

.bg-agua
    background-color: $bg-agua

.bg-agua2
    background-color: $bg-agua2