$color-primary: #5879BC
$color-secundary: #E5483D
$color-text: #4F6168
$color-white: #F9F8F3
$color-black: #000
$color-green: #67C370
$color-text-title: #192434
$color-icon: #99959594
$color-icon2: rgb(243 243 243 / 68%)
$color-icon3: #5879BC
$color-star:#FFC656
$color-agua:#61B0BC
$color-plomo:#808080

.color-plomo
    color: $color-plomo

.color-agua
    color: $color-agua
    
.color-star
    color: $color-star

.color-icon3
    color: $color-icon3
    border:2px

.color-icon3:hover
    color: #4966a1
    border:2px

.color-icon2
    color: $color-icon2

.color-icon2:hover
    color: white

.color-icon
    color: $color-icon  

.color-icon:hover
    color: #858282

.color-green
    color:  $color-green

.color-text
    color:  $color-text

.color-text-title
    color:  $color-text-title

.color-primary
    color: $color-primary

.color-secundary
    color: $color-secundary

.color-white
    color: $color-white

.color-black
    color: $color-black


.background-color-text
    background-color:  $color-text

.background-color-text-title
    background-color:  $color-text-title

.background-color-primary
    background-color: $color-primary

.background-color-secundary
    background-color: $color-secundary
    border: 1px solid $color-secundary
    color: $color-white
    &:hover
        border: 1px solid $color-secundary
        background-color: $color-white
        color: $color-secundary !important

.background-color-white
    background-color: $color-white
     border: 1px solid $color-white
    color: $color-secundary 
    &:hover
        border: 1px solid $color-secundary
        background-color: $color-secundary
        color: $color-white !important


.background-color-black
    background-color: $color-black