html,
body
	margin: 0
	padding: 0
	color: $color-black
	font-weight: $fw300
	// font-size: 16px
	// font-size: 62.5%
	-moz-osx-font-smoothings: grayscale
	-webkit-font-smoothing: antialiased
	font-family: 'Open Sans', sans-serif
	background: #F9F8F3