$negrita: bold
$shadow: 0 .3rem 0.3rem rgba(0,0,0,.15)

.border-mora
    border: 2px solid #5879BC

.border-agua
    border: 1px solid #61B0BC

hr:not([size]) 
    height: 1.5px

.font-weight-bold
    font-weight: $negrita

.my-6
    margin-top: 5rem
    margin-bottom: 5rem

.my-7
    margin-top: 7rem
    margin-bottom: 7rem

.my-8
    margin-top: 60rem
    margin-bottom: 60rem

.my-9
    margin-top: 80rem
    margin-bottom: 70rem

.my-10
    margin-top: 60rem
    margin-bottom: 82rem
.my-11
    margin-top: 80rem
    margin-bottom: 70rem  

.rounded-6
    border-top-left-radius: 0.7rem
    border-top-right-radius: 0.7rem

.rounded-5
    border-radius: 0.7rem

.rounded-4
    border-radius: 1.5rem

.rounded-top-4
    border-top-left-radius: 50%
    border-top-right-radius: 50%

.rounded-top-5
    border-top-left-radius: 1.5rem
    border-top-right-radius: 1.5rem

.sombra
    box-shadow: $shadow
    
.ml-1 
    margin-left: 0.5rem

.ml-2
    margin-left: 3rem

.mt-6
    margin-top: 9rem

.mt-7
    margin-top: 6rem

.mt-8
    margin-top: 13rem

.mt-9
    margin-top: 18rem

.mt--2
    margin-top: -3rem

.mt--1
    margin-top: -2rem

.mb-6
    margin-bottom: 6rem

.mb-7
    margin-bottom: 9rem

.mb-8
    margin-bottom: 4rem

.mb-9
    margin-bottom: 2.5rem

.mb--4 
    margin-bottom: -2rem

.letra
    font-size: 0.888rem

.letra2
    font-size: 0.8rem

.letra3
    font-size: .659rem

.caja
    position: absolute    

.caja2
    position: relative            

.video-contenedor
    position: relative
    padding-bottom: 70%
    padding-top: 0px
    height: 0
    overflow: hidden
 
.video-contenedor iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.btn:focus 
    outline: 0
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%)

.form-check-input:checked
    background-color: #f8522d
    border-color: #f8522d

.accordion-button:not(.collapsed)
    color: #000000

.accordion-button:not(.collapsed)::after 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")

.accordion-button:focus
    border-color: #86b6fe00
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%)

.form-check-input:focus
    border-color: #FF7C5F
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 29%)

.form-control:focus 
    color: #212529
    background-color: #fff
    border-color: #5879bc
    outline: 0
    box-shadow: 0 0 0 0.25rem rgb(88 121 188 / 26%)

figure::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/3Z559FL.png)
    background-repeat: no-repeat
    bottom: -60px 
    right: -40px
    width: 147px
    height: 115px
    z-index: -1

.cajafoto
    z-index: 2
    position: relative

.figure2::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/3Z559FL.png)
    background-repeat: no-repeat
    bottom: -60px 
    right: -40px
    width: 147px
    height: 115px
    z-index: 1

.cajafoto2
    z-index: 2
    position: relative

.figure3::after 
    content: "5:00"
    color: white
    display: flex
    font-weight: 400
    font-size: 20.5px
    justify-content: center
    position: absolute
    background-image: url(https://i.imgur.com/8PxsgWm.png)
    background-repeat: no-repeat
    bottom: -1px 
    right: -2.5px
    width: 90px
    height: 35px
    z-index: 1

.cajafoto3
    z-index: 2
    position: relative   

.figure4::after 
    content: "4:00"
    color: white
    display: flex
    font-weight: 400
    font-size: 20.5px
    justify-content: center
    position: absolute
    background-image: url(https://i.imgur.com/8PxsgWm.png)
    background-repeat: no-repeat
    bottom: -1px 
    right: -2.5px
    width: 90px
    height: 35px
    z-index: 1

.cajafoto4
    z-index: 2
    position: relative  

.figure5::after 
    content: "5:09"
    color: white
    display: flex
    font-weight: 400
    font-size: 20.5px
    justify-content: center
    position: absolute
    background-image: url(https://i.imgur.com/8PxsgWm.png)
    background-repeat: no-repeat
    bottom: -1px 
    right: -2.5px
    width: 90px
    height: 35px
    z-index: 1

.cajafoto5
    z-index: 2
    position: relative   

.figure6::after 
    content: "4:27"
    color: white
    display: flex
    font-weight: 400
    font-size: 20.5px
    justify-content: center
    position: absolute
    background-image: url(https://i.imgur.com/8PxsgWm.png)
    background-repeat: no-repeat
    bottom: -1px 
    right: -2.5px
    width: 90px
    height: 35px
    z-index: 1

.cajafoto6
    z-index: 2
    position: relative    

.figure7::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/3Z559FL.png)
    background-repeat: no-repeat
    bottom: -60px 
    right: -40px
    width: 147px
    height: 115px
    z-index: -1

.cajafoto7
    z-index: 2
    position: relative                

.figure8::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/uXhryhX.png)
    background-repeat: no-repeat
    bottom: -60px 
    right: 225px
    width: 215px
    height: 185px
    z-index: -1

.cajafoto8
    z-index: 2
    position: relative   

.cajafoto9
    z-index: 2
    position: relative   

.figure9::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/YWxnUmO.png)
    background-repeat: no-repeat
    top: -40px 
    right: -60px
    width: 147px
    height: 115px
    z-index: -1

.cajafoto10
    z-index: 2
    position: relative   

.figure10::after 
    content: ""
    position: absolute
    color: white
    background-color: #50AEB8
    border-radius: 60px
    top: 27.5rem
    right: -30px
    width: 27.5rem
    height: 114px
    z-index: 1

.cajafoto11
    z-index: 2
    position: relative   

.figure11::after 
    content: "Videos, artículos, podcasts y más contenido creados por expertas y expertos en educación sexual integral."
    position: absolute
    color: white
    top: 28.5rem
    right: -7px
    width: 25rem
    height: 114px
    z-index: 2
    text-align: center
    font-size: 1rem
    font-weight: 600

.figure12::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/BnGwM3m.png)
    background-repeat: no-repeat
    top: 3.5rem
    right: 74px
    width: 25rem
    height: 114px
    z-index: 2

.cajafoto12
    z-index: 2
    position: relative   

.figure13::after 
    content: ""
    position: absolute
    background-image: url(https://i.imgur.com/aYKvfXb.png)
    background-repeat: no-repeat
    top: 4rem 
    right: 101px
    width: 215px
    height: 185px
    z-index: 2

.cajafoto13
    z-index: 2
    position: relative   

.grupo2
    position: relative


.grupo2 .icono2
    position: absolute
    margin-left: 28.5rem
    top: 19px
    font-size: 22px

.grupo3
    position: relative


.grupo3 .icono3
    position: absolute
    margin-left: 28.2rem
    top: 19px
    font-size: 22px

.grupo4
    position: relative


.grupo4 .icono4
    position: absolute
    margin-left: 28.5rem
    top: 10px
    font-size: 22px

.grupo5
    position: relative


.grupo5 .icono5
    position: absolute
    margin-left: 28.2rem
    top: 10px
    font-size: 22px

.grupo
    position: relative

.grupo .union 
    padding: 6px 12px 6px 38px
    outline: none

.grupo .icono
    position: absolute
    margin-left: 13px
    top: 9px
    font-size:16px
    color: #8d757d

.beneficios
    height: 24rem

.form-select:focus 
    border-color: #5879bc
    outline: 0
    box-shadow: 0 0 0 0.25rem rgb(88 121 188 / 26%)

@media (max-width: 767px) 
    .grupo .icono 
        top: 17px

@media (max-width: 1024px) 
    .grupo2 .icono2 
        margin-left: 22.5rem

    .grupo3 .icono3 
        margin-left: 22.3rem
    
    .grupo4 .icono4 
        margin-left: 22.5rem

    .grupo5 .icono5 
        margin-left: 22.3rem

@media (max-width: 1199px) 
    .beneficios
        height: 20rem


@media (max-width: 991px) 
    .grupo2 .icono2
        margin-left: 37.5rem

    .grupo3 .icono3
        margin-left: 37.3rem

    .grupo4 .icono4
        margin-left: 37.5rem
    
    .grupo5 .icono5
        margin-left: 37.3rem

@media (max-width: 767px) 
    .grupo2 .icono2
        margin-left: 26.5rem
    
    .grupo3 .icono3 
        margin-left: 26.3rem

    .grupo4 .icono4
        margin-left: 26.5rem

    .grupo5 .icono5
        margin-left: 26.3rem

@media (max-width: 414px) 
    .grupo2 .icono2
        margin-left: 17.5rem

    .grupo3 .icono3 
        margin-left: 17.3rem

    .grupo4 .icono4
        margin-left: 17.5rem

    .grupo5 .icono5 
        margin-left: 17.3rem

@media (max-width: 380px) 
    .grupo2 .icono2
        margin-left: 16.5rem
    
    .grupo3 .icono3 
        margin-left: 16.3rem

    .grupo4 .icono4
        margin-left: 16.5rem

    .grupo5 .icono5
        margin-left: 16.3rem

@media (max-width: 360px) 
    .grupo2 .icono2
        margin-left: 15.5rem

    .grupo3 .icono3 
        margin-left: 15.3rem

    .grupo4 .icono4
        margin-left: 15.5rem

    .grupo5 .icono5
        margin-left: 15.3rem

@media (max-width: 280px) 
    .grupo2 .icono2
        margin-left: 10.5rem
    
    .grupo3 .icono3 
        margin-left: 10.3rem

    .grupo4 .icono4
        margin-left: 10.5rem

    .grupo5 .icono5 
        margin-left: 10.3rem
