.color-table{
    background-color: #F6F9FC;
}

.bk-default{
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
    border-radius: 6px;
}

.color-n{
    color: white!important;
}

.form-switch .form-check-input:checked {
    border-color: #2DCE89!important;
    background-color: transparent!important;
}

.form-switch .form-check-input:checked:after {
    transform: translateX(21px);
    background-color: #2DCE89!important;
}

.btn-new{
    background-color: #5879BC!important; 
    border-radius: 4px;
}

.txt-n{
    border-radius: 4px; 
    background-color: #5879BC!important; 
    font-size: 10.56px;
}

.txt-n2{
    border-radius: 4px; 
    background-color: #FF856A!important;  
    font-size: 10.56px;
}

.txt-n3{
    font-size: 14px; 
    font-weight: 600; 
    color: #32325D;
}

.btn-t{
    background-color: white!important; 
    color: #5E72E4!important;
    width: 56px;
    height: 28px; 
    font-size: 12px;
}

.txt-n4{
    border: #FF856A; 
    border-style: dotted; 
    border-radius: 10px;
}

.txt-n5{
    font-size: 12px; 
    color: #FF856A; 
    font-weight: 600;
}

.txt-n6{
    font-size: 14px; 
    color: #32325D;
}

.mtx-8{
    margin-top: -8rem;
}

@media (max-width: 1000px) {
    .mtx-8 {
      margin-top: 0;
    }
}

@media (max-width: 1550px){
    .col-md-5 {
    flex: 0 0 auto;
    width: 100%!important;
    }
}

.btn-2{
    width: 56px;
    height: 28px; 
    font-size: 12px;
}

.name{
    color: #5E72E4!important;
}