.color-table{
    background-color: #F6F9FC;
}

.bk-default{
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
    border-radius: 6px;
}

.color-n{
    color: white!important;
}

.form-switch .form-check-input:checked {
    border-color: #2DCE89!important;
    background-color: transparent!important;
}

.form-switch .form-check-input:checked:after {
    transform: translateX(21px);
    background-color: #2DCE89!important;
}

.btn-new{
    background-color: #5879BC!important; 
    border-radius: 4px;
}

.txt-n{
    border-radius: 4px; 
    background-color: #5879BC!important; 
    font-size: 10.56px;
}

.txt-n2{
    border-radius: 4px; 
    background-color: #FF856A!important;  
    font-size: 10.56px;
}

.txt-n3{
    font-size: 14px; 
    font-weight: 600; 
    color: #32325D;
}