extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="editar_perfil-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.mt-7.mb-6
        div
            h4.fw700.mt-3 Datos personales:
        div
                        div 
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Nombre</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Lorena">     
                                div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Apellido</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Alva">

                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12.mb-4
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Correo</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="lorenaalva2@gmail.com">
        div.mt-5
            h4.fw700 Mamá de:
        div.row.my-4
                    div.col-md-6.col-12.mt-4
                        div.col-lg-11.col-12.border-mora.rounded-7
                            div.d-flex.justify-content-end
                                a(data-bs-toggle="modal" data-bs-target="#staticBackdrop").tacho2.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
                            div.m-4
                                div.row
                                    div.col-4
                                        <div style="width:6rem;height:6rem; background-color:#51A1DB" class=" my-2 d-flex align-items-center justify-content-center rounded-circle ">
                                            h4.m-1.fw700 L
                                        </div>
                                    div.col-8
                                        <div class="col-12 mt-4">
                                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Nombre</label>
                                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Lorena">
                                        </div>
                                <div class="col-7 mt-4">
                                    <label for="exampleFormControlInput1" class="form-label fw400 h6">Género</label>
                                    <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Mujer">
                                </div>
                                <div class="col-7 mt-4 mb-5">
                                    <label for="exampleFormControlInput1" class="form-label fw400 h6">Fecha de nacimiento</label>
                                    <input type="date" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="07/10/2014">
                                </div>
                                
                    div.col-md-6.col-12.d-flex.justify-content-end.mt-4
                        div.col-lg-11.col-12.border-mora.rounded-7
                            div.d-flex.justify-content-end
                                a(data-bs-toggle="modal" data-bs-target="#staticBackdrop").tacho2.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
                            div.m-4
                                div.row
                                    div.col-4
                                        <div style="width:6rem;height:6rem; background-color:#89CE43" class=" my-2 d-flex align-items-center justify-content-center rounded-circle ">
                                            h4.m-1.fw700 M
                                        </div>
                                    div.col-8
                                        <div class="col-12 mt-4">
                                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Nombre</label>
                                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Miguel">
                                        </div>
                                <div class="col-7 mt-4">
                                    <label for="exampleFormControlInput1" class="form-label fw400 h6">Género</label>
                                    <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Hombre">
                                </div>
                                <div class="col-7 mt-4 mb-5">
                                    <label for="exampleFormControlInput1" class="form-label fw400 h6">Fecha de nacimiento</label>
                                    <input type="date" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="07/10/2014">
                                </div>
        div.border-mora.rounded-7.mt-5
                        div.d-flex.justify-content-end
                                a(data-bs-toggle="modal" data-bs-target="#staticBackdrop").tacho2.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
                        div.m-4 
                            div.d-md-flex.d-block.mb-5
                                div.col-md-4.d-flex.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Nombre</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Talia">     
                                div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Género</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Mujer">
                                div.col-md-4.d-flex.justify-content-md-end.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Fecha de nacimiento</label>
                                        <input type="date" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="07/10/2014">                     
        div.d-flex.justify-content-center.mt-5.mb-6
                    a(href="agregar_hijos-premium.html").d-flex.text-decoration-none.justify-content-start.align-items-center.rounded-4.border-mora
                        div.m-1.d-flex
                            h6.color-black.fw500.m-1  Agregar
                            <i class="fa-solid fa-circle-plus m-1 h5 color-icon3"></i>
        div.my-5
                    h4.fw700 ¿Cómo me describo?
                    .my-2
                        div 
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-5 
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7
                                        div.d-flex.justify-content-between
                                            h5.m-3.fw400 Empática/o
                                            a(href="").tacho.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
                                div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-5 
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7
                                        div.d-flex.justify-content-between
                                            h5.m-3.fw400 Estricta/o
                                            a(href="").tacho.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
                                div.col-md-4.d-flex.justify-content-md-end.justify-content-start.mt-5  
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7
                                        div.d-flex.justify-content-between
                                            h5.m-3.fw400 Afectiva/o
                                            a(href="").tacho.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-5 
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7 
                                        div.d-flex.justify-content-between
                                            h5.m-3.fw400 Planificador/a
                                            a(href="").tacho.rounded-circle.border-plomo.d-flex.align-items-center.justify-content-center
                                                <i class="fa-solid fa-trash-can p-2 fs-5 color-plomo"></i>
        div.mb-6.mt-2
                    h5.fw400 Agrega descriptores, dándole click a los que quieras
                    .my-2
                        div 
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-5 
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7 
                                        h5.m-3.fw400 Preocupada/o
                                div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-5 
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7
                                        h5.m-3.fw400 Comprensiva/o
                                div.col-md-4.d-flex.justify-content-md-end.justify-content-start.mt-5  
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7 
                                        h5.m-3.fw400 Afectiva/o
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-5 
                                    div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-7
                                        h5.m-3.fw400 Relajada/o
        div.d-flex.justify-content-center.mt-5.mb-6
                        a(href="perfil-premium.html").m-4.btn.btn-outline-secondary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Cancelar
                        a(href="perfil-premium.html").m-4.btn.btn-primary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Guardar
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg">
            <div class="modal-content rounded-4 border-mora">
                <div class="modal-body m-4">
                    div.d-flex.justify-content-center
                        div.color-primary.col-md-10
                            h5.fw700 ¿Estas seguro que deseas eliminar _____________?
                            br
                            h5.fw700 Recuerda que .....
                    div.d-flex.justify-content-center    
                        div.d-lg-flex.d-block.justify-content-center.my-4
                                a( data-bs-dismiss="modal").col-lg-6.col-10.m-4.btn.btn-white2.d-flex.justify-content-center
                                    h6.m-1.fw700 No
                                a(data-bs-dismiss="modal").col-lg-7.col-10.m-4.btn.btn-primary.d-flex.justify-content-center
                                    h6.m-1.fw700 Sí, eliminar
                </div>
            </div>
        </div>
    </div>
        