extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí   

    section.container.caja2
        div.container.caja
            div.mt-5
                h4.font-weight-bold Salud Mental
            div.my-4
                h4.font-weight-bold ¿Qué es la ansiedad y cómo cultivarla?
                h5 Los 8 años tienen un nuevo significado para algunas personas.
            div 
                <img src="./images/global/video_cont_pod.png" class="img-fluid mb-4" alt="...">
                
                
    section.container.mt-4           
        section.container.caja.mt-6(style='background: linear-gradient(360deg, #F9F8F3 0%, rgba(249, 248, 243, 0.99) 73.11%, rgba(249, 248, 243, 0) 126.26%); height: auto')
            div.mt-5.text-center.p-5.my-5
                h2.font-weight-bold(style='color: #5879BC;') ¡Oh, oh!
                img.fluid.mt-4(src='./images/home-freemium/Group 146.2.png' alt='...')(style='width: 10rem; height: 10rem')
                h5.mt-4 Esta opción solo es disponible para premium
                h5 Para guardar contenido, accede a nuestra versión
                h3.font-weight-bold.mt-5(style='color: black;') Premium por S/.9.90 al mes.    

            div.d-flex.justify-content-center.mt-5
                a(href="").btn.btn-primary(style='width: 20rem; background: #F37053;')
                    h5.m-1.font-weight-bold Acceder a Premium

            div.d-flex.justify-content-center.mt-5
                a(href="home-freemium.html").btn.btn-outline-primary(style='width: 20rem;')
                    h5.m-1.font-weight-bold Entendido

            .mt-2 
    div.my-8
          