extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="iniciar-sesión.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.mt-5.mb-6
        div.text-center
            h4.fw700.m-2.mt-3 Olvidaste tu contraseña
        div.mt-5
            div
                div.text-center
                    h6.fw600 ¡Queremos mantener tu cuenta segura! 
                div.d-flex.justify-content-center.text-center
                    h6.fw400.col-md-4 Enviaremos un enlace a tu correo electrónico donde podrás cambiar tu contraseña.
        div.d-flex.justify-content-center.mt-4
            .col-lg-4.col-md-6.col-sm-8.col-12 
                <input type="text" value="lorena.arribas@gmail.com" class="border-mora form-control sombra rounded-4 " id="exampleFormControlInput1" >
        div.mt-3.d-flex.justify-content-center
            a(href="nueva-contra.html").btn.btn-outline-primary4.me-3.m-2.sombra
                            h6.m-2.fw400 Enviar enlace
        div.mt-5.d-flex.justify-content-center
            a(href="iniciar-sesión.html").btn.btn-outline-primary4.me-3.m-2.sombra
                            h6.m-2.fw400 Volver a inicio
        