extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    div.container
        div.mt-5
            h4.fw700 Salud Mental
        div.my-4
            h4.fw700 ¿Qué es la ansiedad?
            h5 Los 8 años tienen un nuevo significado para algunas personas.
        div 
            <img src="./images/contenido_articulo-freemium/niña.png" class="img-fluid mb-4" alt="...">
            h6 12 dic 2022 - 30 min
            br 
            h5.font-weight-bold ¿Qué es la ansiedad?
            h6 La ansiedad es una emoción normal que todas las personas podemos sentir. Por ejemplo, cuando estamos caminando por una calle oscura podemos sentir ansiedad y miedo. Esto genera muchas sensaciones en el cuerpo como temblores, dolor de estómago, sudoración, entre otras. En este caso, es útil para tomar precauciones y estar alertas a nuestro entorno. 
            h6 Pero, por otro lado, a veces podemos sentir ansiedad ante situaciones cotidianas o situaciones nuevas en nuestras vidas. Por ejemplo, cuando nos presentamos a un examen difícil o cuando damos una entrevista de trabajo. 
            h6 Así como las/os adultas/os, las/os niñas/os también pueden sentir esta emoción ante distintas situaciones como: el primer día de clases, el estar separado de sus papás, la oscuridad, entre otros. 
            h6 Como cuidadoras/es tenemos que estar siempre atentas/os a los cambios que notamos en nuestras/os hijas/os porque en algunas ocasiones se les puede dificultad verbalizar y entender lo que están sintiendo: ¿Cómo se ven estos cambios? Existen muchas formas en las que se expresa la ansiedad, estas son algunas: 
            br
            h6 - Fisiológicos: sudoración, náuseas, temblores, dolores de cabeza  
            h6 - Conductuales: morderse las uñas, chuparse el dedo 
            h6 - En el estado de ánimo: irritabilidad, miedo, preocupación constante  
            h6 - Interpersonal: aislarse de su entorno, cambio en la relación con los padres 
            h6 - Cognitivos: tener pensamientos de que “lo peor va a suceder”, visión negativa
        div.my-4 
            <div class="accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion-item rounded-3">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Accordion.h5.font-weight-bold Preguntas Frecuentes 
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Cuánto tiempo deberían usar el celular?
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Cuánto tiempo deberían usar el celular?
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Cuánto tiempo deberían usar el celular?
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion.font-weight-bold.h5 Para conversar con tus hijas/os
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur 
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur 
                        </div>
                    </div>
                </div>            
            </div>
    div.container.my-5
        div.my-3 
            h5.font-weight-bold ¿Te sirvió?
    div.bg-amarillo
            .container
                div.p-5
                    div.text-center
                        h5 ¿Te quedaron dudas?
                    div.d-flex.justify-content-center
                        a(href="doubtbox2-freemium.html").my-2.btn.btn-outline-primary.col-lg-2.col-0
                                    h5.m-1.font-weight-bold ¡Déjala aquí!
    section.my-6
        <div class="container my-4">
                    h4.fw700 Contenido relacionado
        </div>
        div
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-lg-start justify-content-center align-items-center">
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mt-3 " style="width: 16rem;">
                            <img src="./images/landing/profesi1.png" class="card-img-top" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">¿Qué es la salud mental?</h5>
                                <h6 class="card-text">8 - 10 años</h6>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/landing/profesi2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Promoviendo la autoestima</h5>
                                <h6 class="card-text">8 - 10 años</h6>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/landing/profesi2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Cómo conversar de manera asertiva</h5>
                                <h6 class="card-text">8 - 10 años</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <section class="container my-5">
            <div class="row">
                <div class="col-lg-6 ">
                    div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                        <img src="./images/contenido_articulo-freemium/accede-premium.png" class="rounded-5" alt="..." style="width:30rem;height:21rem" >
                </div>
                <div class="col-lg-6">
                    <div class="text-end my-md-4 my-0">
                            h1.color-primary.fw700 Accede a nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div.col-md-2
                                div.col-md-10
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Accede a contenido ilimitado
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Guarda tus contenidos favoritos
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Filtra por el perfil de tus hijas o hijos
                    </div>
                    div.d-flex.justify-content-end
                        a(href="").btn.btn-primary
                            h6.m-2.fw700 Acceder a Premium
                </div>
            </div>
        </section>