extends ../layouts/default-layout2-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="uso_filtro-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    div.container
        div.mt-5
            h4.fw800 Salud Mental
            br
        div.my-4
            h4.fw800 ¿Qué es la ansiedad?
            h5.fw400 Los 8 años tienen un nuevo significado para algunas personas.
        div 
            <img src="./images/contenido_articulo-freemium/niña.png" class="img-fluid mb-1" alt="...">
             div.d-flex.justify-content-between
                <div>
                    <a href="guardados-premium.html" style="color: #000000"><i class="fa-regular fa-bookmark m-1 h4"></i></a>
                    <a href="#" style="color: #000000"><i class="fa-regular fa-share-from-square m-1 h4"></i></a>
                </div>
                <div class="d-flex">
                    h5.m-1 207
                    <a href="guardados-premium.html" style="color: #000000"><i class="fa-regular fa-heart m-1 h4"></i></a>
                </div>
            br
            h6.fw400 12 dic 2022 - 30 min
            br 
            h5.fw700 ¿Qué es la ansiedad?
            br
            br
            h6.fw400 La ansiedad es una emoción normal que todas las personas podemos sentir. Por ejemplo, cuando estamos caminando por una calle oscura podemos sentir ansiedad y miedo. Esto genera muchas sensaciones en el cuerpo como temblores, dolor de estómago, sudoración, entre otras. En este caso, es útil para tomar precauciones y estar alertas a nuestro entorno. 
            h6.fw400 Pero, por otro lado, a veces podemos sentir ansiedad ante situaciones cotidianas o situaciones nuevas en nuestras vidas. Por ejemplo, cuando nos presentamos a un examen difícil o cuando damos una entrevista de trabajo. 
            h6.fw400 Así como las/os adultas/os, las/os niñas/os también pueden sentir esta emoción ante distintas situaciones como: el primer día de clases, el estar separado de sus papás, la oscuridad, entre otros. 
            h6.fw400 Como cuidadoras/es tenemos que estar siempre atentas/os a los cambios que notamos en nuestras/os hijas/os porque en algunas ocasiones se les puede dificultad verbalizar y entender lo que están sintiendo: ¿Cómo se ven estos cambios? Existen muchas formas en las que se expresa la ansiedad, estas son algunas: 
            br
            h6.fw400 - Fisiológicos: sudoración, náuseas, temblores, dolores de cabeza  
            h6.fw400 - Conductuales: morderse las uñas, chuparse el dedo 
            h6.fw400 - En el estado de ánimo: irritabilidad, miedo, preocupación constante  
            h6.fw400 - Interpersonal: aislarse de su entorno, cambio en la relación con los padres 
            h6.fw400 - Cognitivos: tener pensamientos de que “lo peor va a suceder”, visión negativa
        div.my-5
            <div class="accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion-item rounded-3">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" style="background-color: #e5e5e5;" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Accordion.h5.fw700 Preguntas Frecuentes 
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color: #e5e5e5;">
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Cuánto tiempo deberían usar el celular?
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Lorem ipsum dolor sit amet consectetur
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Debería dejarla ir a pijamadas?
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Lorem ipsum dolor sit amet consectetur
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Debo dejar que jueguen videojuegos?
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Lorem ipsum dolor sit amet consectetur
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" style="background-color: #e5e5e5;"  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion.h5.fw700 Para conversar con tus hijas/os
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color: #e5e5e5;">
                            .row.text-white
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Lorem ipsum dolor sit amet consectetur 
                                .col-lg-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Lorem ipsum dolor sit amet consectetur 
                        </div>
                    </div>
                </div>            
            </div>
    div.container.my-5
        div.my-3.d-md-flex.d-block
            h5.fw700.me-4.mt-3 ¿Te sirvió?
            div.d-flex
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
    div.bg-amarillo
            .container
                div.p-5
                    div.text-center
                        h5.fw400 ¿Te quedaron dudas?
                    div.d-flex.justify-content-center.align-items-center
                        img(src="./images/contenido_articulo-freemium/expresion3.png", alt="" class="m-2" style="height:4rem")
                        a(href="doubtbox2-premium.html").my-2.btn.btn-outline-primary.col-lg-3.col-9
                                    h5.m-2.fw400 ¡Déjala aquí!
                        img(src="./images/contenido_articulo-freemium/expresion4.png", alt="" class="m-2" style="height:4rem")
    section.my-6
        <div class="container my-4">
                    h4.fw700 Contenido relacionado
        </div>
        div
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-lg-start justify-content-center align-items-center">
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mt-3 " style="width: 16rem;">
                            <img src="./images/uso_filtro-freemium/niña2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">¿Qué es la salud mental?</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </a>
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/uso_filtro-freemium/niña3.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Promoviendo la autoestima</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </a>
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/uso_filtro-freemium/niña4.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Cómo conversar de manera asertiva</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </section>