extends ../layouts/default-layout3.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="doubtbox2-freemium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold.fw800(style='color: black') ¡Tu consulta ha sido enviada!
    div.d-flex.justify-content-center.mt-5
        a(href="doubtbox2-freemium.html").btn.btn-primary(style='width: 20rem;')
            h5.m-1.fw600 Enviar otra consulta
    div.d-flex.justify-content-center.mt-4
        a(href="doubtbox2-freemium.html").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.fw600 Volver atrás   
    .mt-6        