extends ../layouts/default-layout2.pug
block content
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold ¡Tu consulta ha sido enviada!
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Enviar otra consulta
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Volver atrás   
    .mt-6        