extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="home-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.text-center
        .mt-6
        h2.text-center.fw800(style='color: black') Dudas o sugerencias
        h4.text-center.mt-4.fw400 Escríbenos aquí para continuar mejorando tu experiencia
        div.container
                .form-floating.mt-4.container
                    textarea.floatingTextarea2.form-control.container(placeholder='Leave a comment here' style='height: 25rem')  
    div.d-flex.justify-content-center.mt-5
        a(href="doubtbox-premium.html").btn.btn-primary(style='width: 20rem;')
            h5.m-2.fw600 Enviar
    div.d-flex.justify-content-center.mt-4
        a(href="home-premium.html").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-2.fw600 Volver a mi contenido
    .mt-5