extends ../layouts/default-layout2.pug
block content
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold(style='color: black') Dudas o sugerencias
        h4.text-center.mt-4 Escríbenos aquí para continuar mejorando tu experiencia   
        input.mt-4(type="text")(style='width: 50rem; height: 20rem;border-color: #5879bc;')   
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Enviar
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Volver a mi contenido
    .mt-5