extends ../layouts/default-layout3.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.ml-6.container
            <a class="text-white nav-link h5 mt-1" href="home-freemium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9
                    h4 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                        h5.m-1.font-weight-bold Inicia aquí
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold(style='color: black') Dudas o sugerencias
        h4.text-center.mt-4 Escríbenos aquí para continuar mejorando tu experiencia
        div.container(style='width: 70rem')
                .form-floating.mt-4.container
                    textarea.floatingTextarea2.form-control.container(placeholder='Leave a comment here' style='height: 25rem')  
    div.d-flex.justify-content-center.mt-5
        a(href="doubtbox-freemium.html").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Enviar
    div.d-flex.justify-content-center.mt-5
        a(href="home-freemium.html").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Volver a mi contenido
    .mt-5