extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="cambiar-contra.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.mt-7.mb-6
        div
            h4.fw700.m-2.mt-3 Datos personales:
        div.p-2
            div.d-md-flex.d-block
                <div class="col-lg-3 col-md-5 col-sm-10 mb-3 me-md-5 me-0 mt-md-2 mt-2">
                                <label for="exampleFormControlInput1" class="form-label fw400 h6">Nombre</label>
                                <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Lorena">
                </div>
                <div class="col-lg-3 col-md-5 col-sm-10 mt-5 mt-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label fw400 h6">Apellido</label>
                                    <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Alva">
                </div>
        div.p-2
            div.mt-2.d-flex
                <div class="col-lg-3 col-md-5 col-sm-10 col-12">
                                <label for="exampleFormControlInput1" class="form-label fw400 h6">Correo</label>
                                <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="lorenaalva2@gmail.com">
                </div>
        div.d-flex.justify-content-center.mt-5.mb-6
                        a(href="home-freemium.html").m-4.btn.btn-secondary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Cancelar
                        a(href="home-freemium.html").m-4.btn.btn-primary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Guardar
        