extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="perfil-freemium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.mt-7.mb-6
        div
            h4.fw700.mt-3 Datos personales:
        div
                        div 
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Nombre</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Lorena">     
                                div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Apellido</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="Alva">

                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-start.mt-4 
                                    div.col-md-11.col-sm-10.col-12.mb-4
                                        <label for="exampleFormControlInput1" class="form-label fw400 h6">Correo</label>
                                        <input type="text" class="form-control rounded-4  sombra" id="exampleFormControlInput1" value="lorenaalva2@gmail.com">
        div.d-flex.justify-content-center.mt-5.mb-6
                        a(href="perfil-freemium.html").m-4.btn.btn-outline-secondary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Cancelar
                        a(href="perfil-freemium.html").m-4.btn.btn-primary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Guardar
        