extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="registro-premium.html").col-md-8.col-6.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí

    section.container.caja2.d-flex.justify-content-center
        div.container.caja
            div.mt-5
                h4.fw800 Salud Mental
            div.my-4
                h4.fw800 ¿Qué es la ansiedad y cómo cultivarla?
                h5.fw400 Los 8 años tienen un nuevo significado para algunas personas.
            div 
                <img src="./images/global/video_cont_pod.png" class="img-fluid mb-2" alt="...">
                div.d-flex.justify-content-between
                    <div>
                        <a href="guardados-premium.html" style="color: #000000"><i class="fa-regular fa-bookmark m-1 h4"></i></a>
                        <a href="#" style="color: #000000"><i class="fa-regular fa-share-from-square m-1 h4"></i></a>
                    </div>
                    <div class="d-flex">
                        h5.m-1 207
                        <a href="guardados-premium.html" style="color: #000000"><i class="fa-regular fa-heart m-1 h4"></i></a>
                    </div>
                br
                h6.fw400 12 dic 2022 - 30 min
                br 
                h5.fw700 ¿Qué es la ansiedad?
                br
                br    
                
    section.container.mt-4.d-flex.justify-content-center           
        section.container.caja.mt-6(style='background: linear-gradient(360deg, #F9F8F3 0%, rgba(249, 248, 243, 0.99) 73.11%, rgba(249, 248, 243, 0) 126.26%);')
            div.mt-9.text-center.p-5
                h2.fw700.mt-3(style='color: #5879BC;') ¡Oh, oh!
                div.justify-content-center.d-flex
                    img.img-fluid.mt-4.d-md-block.d-none(src='./images/home-freemium/Group 146.2.png' alt='...')(style='width: 10rem; height: 10rem')
                    img.img-fluid.mt-4.d-block.d-md-none(src='./images/home-freemium/Group 146.2.png' alt='...')(style='width: 7rem; height: 7rem')
                h5.mt-4.fw400 Parece que ya consumiste tu contenido gratis mensual.
                h5.fw400 Para acceder a contenido ilimitado y más benificios, elije
                h5.fw400 nuestra versión
                h3.mt-5.fw700(style='color: black;') Premium por S/.9.90 al mes.    

            div.d-flex.justify-content-center.mt-5
                a(href="registro-premium.html").btn.btn-secondary(style='width: 20rem;')
                    h5.m-2.fw600 Acceder a Premium

            div.d-flex.justify-content-center.mt-4
                a(href="").btn.btn-outline-primary(style='width: 20rem;')
                    h5.m-2.fw600 Entendido

            .mt-2 
    div.mt-15        