extends ../layouts/default-layout3.pug
block content
    section.container
        .mt-5
        h2.font-weight-bold(style='color: black;') Salud Mental
        h2.font-weight-bold.mt-5(style='color: black;') ¿Qué es la ansiedad y cómo cultivarla?
        h5.mt-2 Los 8 años tienen un nuevo significado para algunas personas.
    .mt-2.text-center     
        img.fluid.mt-4(src='./images/home-freemium/figuregradient.png' alt='...')(style='height: 25rem;')
    .mt-5.text-center
        h2.font-weight-bold(style='color: #5879BC;') ¡Oh, oh!
        img.fluid.mt-4(src='./images/home-freemium/Group 146.2.png' alt='...')(style='width: 10rem; height: 10rem')
        h5.mt-4 Parece que ya consumiste tu contenido gratis mensual.
        h5 Para acceder a contenido ilimitado y más beneficios, elige 
        h5 nuestra versión
        h3.font-weight-bold.mt-5(style='color: black;') Premium por S/.9.90 al mes.         
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem; background: #F37053;')
            h5.m-1.font-weight-bold Acceder a Premium
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Entendido
    .mt-2            