extends ../layouts/default-layout3.pug
block content
    section.container.my-6
        div.mt-5.d-flex
            <i class="fa-regular fa-bookmark m-1 h4"></i>
            h4.fw600 Guardados
        div.my-4
            h4.fw700 ¿Qué es la ansiedad y cómo cultivarla?
            h5.fw400 Los 8 años tienen un nuevo significado para algunas personas.
        div.mt-5
            h4.fw600 Tipo de contenido
            div.d-flex
                a(href="").m-2.col-2.btn.btn-white.sombra 
                    h5.m-2.fw300 Videos
                a(href="").m-2.col-2.btn.btn-white.sombra 
                    h5.m-2.fw300 Artículo
                a(href="").m-2.col-2.btn.btn-white.sombra 
                    h5.m-2.fw300 Podcast
            