extends ../layouts/default-layout2.pug
block content
    section.bg-mora.border-top
        div.container
            div.d-flex.justify-content-center.align-items-center
                a.text-white.anterior
                            <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                div.d-flex.lista
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Límites
                    div 
                        a(href="uso_filtro-freemium.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                                    h5.m-1.font-weight-bold Cuerpo

                a.text-white.siguiente 
                            <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    section.bg-mora.border-top
        div.container
            div.d-flex
                a(href="mi-perfil.html").my-2.btn.btn-filtrar 
                            h5.m-1.font-weight-bold Filtrar contenido por
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9
                    h4 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h5.m-1.font-weight-bold Inicia aquí
    section.my-5
        div.container
            div.my-4
                h4.font-weight-bold.my-2 Recomendaciones
            section
                div
                    div.d-flex.justify-content-center.align-items-center
                        a.color-black.anterior2
                                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                        div.d-flex.lista2
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi1.png" class="card-img-top" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">Importancia de ir al psicólogo</h4>
                                        <h5 class="card-text">8 - 10 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi2.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Qué es la salud mental?</h4>
                                        <h5 class="card-text">8 - 11 años</h4>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi3.png" class="card-img-top " alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Mi hijo/o es ansiosa/o?</h4>
                                        <h5 class="card-text">8 - 10 años</h4>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div> 
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div> 
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div> 
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div> 
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div> 
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>
                            div.justify-content-center.align-items-center.d-flex
                                <div class="m-2 col-6 col-md-4" style="width: 15rem;">
                                    <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                                        <h5 class="card-text">8 - 12 años</h5>
                                    </div>
                                </div>

                        a.siguiente2.color-black 
                                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>

    section.my-6
        div.bg-agua
            div.text-white.container 
                div
                    h4.font-weight-bold Novedades
        div.bg-amarillo
            div.container
                <div class="row">
                    <div class="col-lg-7 bg-amarillo">
                        <div class="my-md-4 my-0">
                                    div.my-4.mt-5
                                        div 
                                            h5.font-weight-bold Poniendo límites con Liliana Buen día
                                        div.d-flex.justify-content-between
                                            h5 Poner límites puede suponer un reto muy grande.¿Cuánto estoy siendo muy esticto o estricta? ¿Este límite es adecuado para su edad?
                                        div.d-flex.justify-content-between
                                            h5 Liliana, psicóloga de adolescentes, nos cuenta cómo evaluar y poner límites adecuados.
                        </div>
                        div
                            a(href="videocontent-freemium.html").btn.btn-white.col-4
                                h5.m-1.font-weight-bold Míralo aquí   
                    </div>
                    <div class="col-lg-5">
                        div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                                <img src="./images/home-freemium/liliana.png" class="" alt="..." style="width:20rem;height:20rem" >
                    </div>
                </div>
    section.my-3
        <div class="container">
                    h4.font-weight-bold Explora Contenido
                    h5.my-3 Encuentra lo que quieras ver por tipo o duración de contenido
        </div>
        div
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3 " style="width: 10.8rem;">
                            <img src="./images/home-freemium/explo-con1.png" class="card-img-top" alt="...">
                        </div>
                         <div class="m-2 col-6 col-md-2 mb-md-0 mt-3 " style="width: 10.8rem;">
                            <img src="./images/home-freemium/explo-con2.png" class="card-img-top" alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 md-0 mt-3" style="width: 10.8rem;">
                            <img src="./images/home-freemium/explo-con3.png" class="card-img-top " alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 md-0 mt-3" style="width: 10.8rem;">
                            <img src="./images/home-freemium/explo-con4.png" class="card-img-top " alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 md-0 mt-3" style="width: 10.8rem;">
                            <img src="./images/home-freemium/explo-con5.png" class="card-img-top " alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 md-0 mt-3" style="width: 10.8rem;">
                            <img src="./images/home-freemium/explo-con6.png" class="card-img-top " alt="...">
                        </div>
                    </div>
                </div>
            </section>
        
    section.my-6
        <div class="container my-4">
                    h4.font-weight-bold Continúa viendo
        </div>
        div.bg-mora-bajo
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-lg-start justify-content-center align-items-center">
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mt-3 " style="width: 15rem;">
                            <img src="./images/landing/profesi1.png" class="card-img-top" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h4 class="card-title font-weight-bold">Importancia de ir al psicólogo</h4>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 15rem;">
                            <img src="./images/landing/profesi2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h4 class="card-title font-weight-bold">¿Qué es la salud mental?</h4>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 15rem;">
                            <img src="./images/landing/profesi3.png" class="card-img-top " alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h4 class="card-title font-weight-bold">¿Mi hijo/o es ansiosa/o?</h4>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mb-5 md-0 mt-3" style="width: 15rem;">
                            <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h4 class="card-title font-weight-bold">¿Debo poner límites?</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <section class="container my-5">
            <div class="row">
                <div class="col-lg-6 ">
                    div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                        <img src="./images/landing/profesi4.png" class="rounded-5" alt="..." style="width:28rem;height:20rem" >
                </div>
                <div class="col-lg-6">
                    <div class="text-end my-md-4 my-0">
                            h1.color-primary.font-weight-bold Accede a nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div.col-md-3
                                div.col-md-9
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5 Accede a contenido ilimitado
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5 Guarda tus contenidos favoritos
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5 Filtra por el perfil de tus hijas o hijos
                    </div>
                    div.d-flex.justify-content-end
                        a(href="").btn.btn-primary
                            h5.m-1.font-weight-bold Acceder a Premium
                </div>
            </div>
        </section>