extends ../layouts/default-layout2-premium.pug
block content
    section.my-5
        div.container
            div.my-2
                h4.fw700.my-3 Recomendaciones
            section
                div
                    div.d-flex.justify-content-center.align-items-center
                        a.color-icon.anterior2
                                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                        div.d-flex.lista2
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure3.cajafoto3 
                                        <img src="./images/landing/profesi1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">Importancia de ir al psicólogo</h5>
                                        <h6 class="card-text">8 - 10 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure4.cajafoto4
                                        <img src="./images/home-freemium/continua-viendo1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Qué es el cyberbullying?</h5>
                                        <h6 class="card-text">8 - 11 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure5.cajafoto5
                                        <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Debo poner límites?</h5>
                                        <h6 class="card-text">8 - 10 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure6.cajafoto6
                                        <img src="./images/landing/profesi3.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Mi hija/o es ansiosa/o?</h5>
                                        <h6 class="card-text">8 - 12 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure3.cajafoto3 
                                        <img src="./images/landing/profesi1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">Importancia de ir al psicólogo</h5>
                                        <h6 class="card-text">8 - 12 años</h5>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure4.cajafoto4 
                                        <img src="./images/home-freemium/continua-viendo1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Qué es el cyberbullying?</h5>
                                        <h6 class="card-text">8 - 12 años</h6>
                                    </div>
                                </a> 
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure5.cajafoto5
                                        <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Debo poner límites?</h5>
                                        <h6 class="card-text">8 - 12 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure6.cajafoto6
                                        <img src="./images/landing/profesi3.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Mi hija/o es ansiosa/o?</h5>
                                        <h6 class="card-text">8 - 12 años</h5>
                                    </div>
                                </a>
                        a.siguiente2.color-icon
                                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    div.bg-agua                               
        div.bg-agua
                div.container.d-flex.align-items-center.bg-agua
                    div.mt-4
                        h2.text-white.fw700 Novedades
        div.bg-agua.cajafoto2
            img(src="./images/global/curvaagua.png", alt="" class="mb--4" style="width:100%; margin-top: -14px")
    
    section.mb-6.bg-amarillo
            div.container
                <div class="row">
                    <div class="col-lg-7">
                            div.my-4.mt-5
                                    div 
                                        h5.fw700 Poniendo límites con Liliana Buen día
                                    br
                                    div.d-flex.justify-content-between
                                        h5.fw400 Poner límites puede suponer un reto muy grande.¿Cuánto estoy siendo muy esticto o estricta? ¿Este límite es adecuado para su edad?
                                    br
                                    div.d-flex.justify-content-between
                                        h5.fw400 Liliana, psicóloga de adolescentes, nos cuenta cómo evaluar y poner límites adecuados.
                                    br
                            div.mb-5
                                a(href="videocontent-freemium.html").btn.btn-white.col-md-4.col-lg-4.col-6
                                    h6.m-2.fw700 Míralo aquí   
                    </div>
                    <div class="col-lg-5 imgrp">
                        div.d-flex.justify-content-lg-start.justify-content-center.align-items-center
                                <img src="./images/home-freemium/liliana.png" class=" d-lg-flex d-none img-fluid figure2" alt="..." style="width:175rem;height:26rem;" >
                    </div>
                </div>
   
    section.my-3
        <div class="container">
                    h4.fw700 Explora Contenido
                    h5.my-3.fw400 Encuentra lo que quieras ver por tipo o duración de contenido
        </div>
        div
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3" style="width: 10.5rem;">
                                <img src="./images/home-freemium/articulos.png" class="card-img-top" alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3" style="width: 10.5rem;">
                                <img src="./images/home-freemium/podcast.png" class="card-img-top" alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3" style="width: 10.5rem;">
                                <img src="./images/home-freemium/videos.png" class="card-img-top" alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3" style="width: 10.5rem;">
                                <img src="./images/home-freemium/2min.png" class="card-img-top" alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3" style="width: 10.5rem;">
                                <img src="./images/home-freemium/5min.png" class="card-img-top" alt="...">
                        </div>
                        <div class="m-2 col-6 col-md-2 mb-md-0 mt-3" style="width: 10.5rem;">
                                <img src="./images/home-freemium/10min.png" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
            </section>
        
    section.my-6
        <div class="container my-4">
                    h4.fw700 Continúa viendo
        </div>
        div.bg-mora-bajo
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-lg-start justify-content-center align-items-center">
                        <a href="" class="btn m-3 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mt-3 " style="width: 15rem;">
                            div.figure4.cajafoto4 
                                <img src="./images/home-freemium/continua-viendo1.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">¿Qué es el cyberbullying?</h5>
                            </div>
                        </a>
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 15rem;">
                            div.figure6.cajafoto6
                                <img src="./images/landing/profesi3.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">¿Mi hija/o es ansiosa/o?</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </section>