extends ../layouts/default-layout.pug
block content
    div.container
        div.mt-5.mb-7.row
            div.col-lg-6.d-lg-flex.d-none
                div.mt-5
                    div.cajafoto13.figure13
                        div.cajafoto12.figure12
                            div.cajafoto11.figure11
                                div.cajafoto10.figure10
                                    img.mt-3.img-fluid(src='./images/registro-freemium/iniciar.png' alt='...')(style='width: 31rem; height: 40rem')
            div.col-lg-6
                .m-4 
                    section.text-lg-end.text-center.my-3
                        h4.fw700.color-secundary(style='color: #F37053') ¡Bienvenida/o de nuevo!
                    section.my-4.d-flex.justify-content-lg-end.justify-content-center
                        a.h6.color-primary.text-decoration-none.color-black(href="registro-freemium.html") Registrate gratis
                    hr.my-3.bg-transparent
                    <div class="mb-5">
                            <label for="exampleFormControlInput1" class="form-label fw400 h6">Correo electrónico</label>
                            div.grupo4
                                <i class="fa-regular fa-envelope icono4"></i>
                                <input type="email" class="form-control rounded-5 bg-transparent border-mora" id="exampleFormControlInput1" placeholder="Escribe tu correo electrónico">
                    </div>
                    <div class="mb-3">
                            div.d-flex.justify-content-between
                                <label for="exampleFormControlInput1" class="form-label fw400 h6">Contraseña</label>
                                a.letra.color-primary.text-decoration-none.color-black.fw400(href="cambiar-contra.html") ¿Olvidaste tu contraseña?
                            div.grupo5
                                <i class="fa-regular fa-eye-slash icono5" id="ojo" onclick="mostrar()"></i>
                                <input type="password" class="form-control rounded-5 bg-transparent border-mora" id="password" placeholder="Ingresa una contraseña segura">
                    </div>
                    div.d-flex.justify-content-center
                        a(href="home-freemium.html").my-4.btn.btn-plomo.d-flex.justify-content-center.col-md-5.col-8 
                            h6.m-1.fw700 Iniciar sesión 
                    a(href="registro-google.html").mt-3.btn.btn-outline-primary3.rounded-5.d-flex.justify-content-center 
                            img.img-fluid.m-1(src='./images/registro-freemium/google.png' alt='...')(style='width: 34px; height: 28px')
                            h6.m-2.fw600 Iniciar sesión con Google     