extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="cambiar-contra.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.mt-5.mb-6
        div.text-center
            h4.fw700.m-2.mt-3 Crea tu nueva contraseña
        div.d-flex.justify-content-center.p-3
            div.mt-5.col-lg-4.col-md-5.col-12
                <div class="mb-4">
                                <label for="exampleFormControlInput1" class="form-label fw400 h6">Nueva contraseña</label>
                                <input type="password" class="form-control rounded-4  sombra" id="exampleFormControlInput1" placeholder="Escribe aquí">
                                div
                                     h6.letra3.m-3 Por tu seguridad, considera un mínimo de 8 caracteres.
                </div>
                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label fw400 h6">Confirma tu nueva contraseña</label>
                                    <input type="password" class="form-control rounded-4  sombra" id="exampleFormControlInput1" placeholder="Escribe aquí">
                </div>
        div.d-flex.justify-content-center
                        a(href="home-freemium.html").my-4.btn.btn-secondary.d-flex.justify-content-center.col-md-2.col-sm-4.col-5
                            h6.m-1.fw700 Ingresar
        