extends ../layouts/default-layout3-premium.pug
block content
    div.my-6
        section.container.text-center
            h3.text-center.fw700(style='color: #F37053') ¡Pago exitoso!
            img.img-fluid.mt-4(src='./images/global/pagoexitoso.png' alt='...')(style='width: 8rem; height: 8rem')
        section.container.text-center
            div.d-flex.justify-content-center
                h5.text-center.mt-5.col-md-4.col-12.fw400 Empieza a disfrutar de nuestro contenido de manera ilimitada.
            div.d-flex.justify-content-center.mt-5
                a(href="").btn.btn-primary.col-md-2.col-6
                    h6.m-2.fw600 Continuar