extends ../layouts/default-layout4.pug
block content
    div.container
        div.my-5.row
            div.col-2.d-md-flex.d-none.justify-content-end 
                img.mt-3.img-fluid(src='./images/registro-premium/deco1.png' alt='...')(style='width: 2.5rem; height: 4rem')
            div.col-md-8.col-12
                section.text-center.mt-3
                    h3.fw700(style='color: #F37053') ¡Accede a Premium!
                section.d-flex.justify-content-center.col-lg-12
                    div.mt-4.sombra.bg-white.rounded-4.card.col-lg-7
                        div.container.bg-agua.rounded-5
                            div.my-3.text.white.d-flex.justify-content-between.align-items-center
                                h6.fw400 Cuenta Premium 
                                h6.fw400 Por S/.9.90
                        div.container
                            div.my-3.d-flex.justify-content-between.align-items-center
                                h6.fw400 A partir de hoy
                                h6.fw400 22 dic.2022
                        div.container
                            li.fw400 Te enviaremos un recordatorio 7 días antes de cobrarte
                            li Cancela en cualquier momento. Aplican términos y condiciones.
                div.d-flex.justify-content-center.mt-3.mb-5
                    a.d-flex.text-decoration-none.m-4.align-items-center(href="registro6-premium.html")
                        h6.color-black.fw400.me-2 Atrás
                        <i class="h2 fa-solid fa-circle-chevron-left color-icon3"></i>
            div.col-2.mt-8.d-md-flex.d-none
                img.mt-3.img-fluid(src='./images/registro-premium/deco2.png' alt='...')(style='width: 6rem; height: 8rem')                                          