extends ../layouts/default-layout.pug
block content
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold(style='color: #F37053') ¡Accede a Premium!
    section.container
        <div class="card container" style="width: 18rem; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); ">
                    <div class="card-header">
                        h7 Cuenta Premium 
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                    </ul>
        </div>
        div.container.mt-4(style='width: 30rem;border-radius: 1rem; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);')
            <form class="form-floating mt-4 container">
                br

                

                br
            </form>
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Pagar    
    .mt-5                      