extends ../layouts/default-layout2-premium.pug
block content
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold(style='color: #F37053') ¡Pago exitoso!
        img.fluid.mt-4(src='./images/global/pagoexitoso.png' alt='...')(style='width: 8rem; height: 8rem')
    section.container.text-center
        h4.text-center.mt-5 Empieza a disfrutar de nuestro contenido
        h4.text-center manera ilimitada.
        div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Continuar