extends ../layouts/default-layout4.pug
block content
    div.my-5
        section.text-center
            h3.fw700(style='color: #F37053') ¡Accede a Premium!
        section.container.d-flex.justify-content-center.col-lg-10.col-md-6.col-sm-7.col-12
            div.mt-4.sombra.bg-white.rounded-4.card.col-lg-5
                <form class=" m-4">
                    br
                    <div class=" container ">
                        div.d-flex.justify-content-between
                            <label for="exampleInputEmail1" class="form-label mt-2 h6 fw400">Número de la tarjeta</label>
                            <i class="fa-regular fa-circle-question m-2 h5"></i>
                        <input type="text" class="form-control rounded-5" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class=" container mt-2">
                        div.d-flex.justify-content-between
                            <label for="exampleInputPassword1" class="form-label mt-2 h6 fw400">Fecha de vencimiento</label>
                            <i class="fa-regular fa-circle-question m-2 h5"></i>
                        <input type="text" class="form-control rounded-5" id="exapleInputPassword1" placeholder="MM/AA">
                    </div>
                    <div class=" container mt-2">
                        div.d-flex.justify-content-between
                            <label for="exampleInputPassword1" class="form-label mt-2 h6 fw400">Código de seguridad</label>
                            <i class="fa-regular fa-circle-question m-2 h5"></i>
                        <input type="password" class="form-control rounded-5" id="exampleInputPassword1" placeholder="123">
                    </div>
                    <div class=" container my-5">
                        h6.letra2.fw400 Por este medio autorizas para que automáticamente se haga un cargo cada mes, hasta que canceles tu suscripción.
                    </div>
                    br
                </form>
        div.d-flex.justify-content-center.mt-5
            a(href="pagoexitoso.html").btn.btn-primary.col-md-2.col-6
                h5.m-1.fw600 Pagar                         