extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="home-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.my-5
        a(href="registro-freemium.html").btn.btn-primary
            h6.m-1.fw400 Editar perfil
        div.mt-5
            div 
                div.mb-4
                    h4.fw700 Datos personales:
                div.row.my-4
                    div.col-3
                        h5.fw400.my-3 Nombre:
                        h5.fw400.my-3 Apellido:
                        h5.fw400.my-3 Correo electrónico:
                        h5.fw400.my-3 Cambiar contraseña
                    div.col-9
                        h5.fw400.my-3 Lorena
                        h5.fw400.my-3 Alva
                        h5.fw400.my-3 lorenaalva2@gmail.com
                