extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="home-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.my-5
        a(href="").btn.btn-primary
            h6.m-1.fw400 Editar perfil
        div.mt-5
            div 
                div.mb-4
                    h4.fw700 Datos personales:
                div.my-4
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Nombre:
                        div.col-sm-9
                            h5.fw400 Lorena 
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Apellido:
                        div.col-sm-9
                            h5.fw400 Alva
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Correo electrónico:
                        div.col-sm-9
                            h5.fw400 lorenaalva2@gmail.com
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Cambiar contraseña:
                        div.col-sm-9
                            h5.fw400 
                        
                div.mt-5
                    h4.fw700 Mamá de:
                div.row.my-4
                    div.col-lg-2.col-5.col-md-3
                        <div style="width:6rem;height:6rem; background-color:#51A1DB" class=" my-2 d-flex align-items-center justify-content-center rounded-circle ">
                            h4.m-1.fw700 L
                        </div>
                        div.d-flex.justify-content-start
                            div.p-3.text-center 
                                h5.fw400 Laura 
                                h5.fw400 12 años
                    div.col-lg-10.col-7.col-md-5
                        <div style="width:6rem;height:6rem; background-color:#89CE43" class=" my-2 d-flex align-items-center justify-content-center rounded-circle ">
                            h4.m-1.fw700 M
                        </div> 
                        div.d-flex.justify-content-start
                            div.p-3.text-center 
                                h5.fw400 Miguel
                                h5.fw400 8 años
                div.my-5
                    h4.fw700 ¿Cómo me describo?
                    .my-5 
                        div 
                            div.d-flex 
                                div.col-md-4.me-4.bg-white.sombra.rounded-5 
                                    h5.m-3.fw400 Empática/o
                                div.col-md-4.bg-white.sombra.rounded-5 
                                    h5.m-3.fw400 Estricta/o 
                            div.d-flex.mt-5 
                                div.col-md-4.me-4.bg-white.sombra.rounded-5 
                                    h5.m-3.fw400 Planificador/a
                                div.col-md-4.bg-white.sombra.rounded-5 
                                    h5.m-3.fw400 Afectiva/o
                div.my-6
                    h4.fw700 Quiero Retarme
                    .my-2 
                        div 
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-md-start.justify-content-center.mt-5 
                                    .sombra.rounded-4.col-10.text-center.bg-naranja2.text-white 
                                        h5.m-5.fw400 Cuerpo
                                div.col-md-4.d-flex.justify-content-center.mt-5 
                                    .sombra.rounded-4.col-10.text-center.text-white.bg-agua2  
                                        h5.m-5.fw400 Límites
                                div.col-md-4.d-flex.justify-content-md-end.justify-content-center.mt-5  
                                    .sombra.rounded-4.col-10.text-center.text-white.bg-rosada 
                                        h5.m-5.fw400 Sexualidad
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-md-start.justify-content-center.mt-5 
                                    .sombra.rounded-4.col-10.text-center.text-white.bg-mora2 
                                        h5.m-5.fw400 Violencia
                                div.col-md-4.d-flex.justify-content-center.mt-5 
                                    .sombra.rounded-4.col-10.text-center.text-white.bg-mora-fuerte  
                                        h5.m-5.fw400 Salud Mental
        a(href="").btn.btn-primary.col-md-4.col-sm-8.col-9.mt-9.mb-6
            h5.m-1.fw400 Cancelar suscripción