extends ../layouts/default-layout3-premium.pug
block content
	div.text-white.bg-mora.d-flex.align-items-center
		div.container
			<a class="text-white nav-link h5" href="home-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
	section.container.my-5
		a(href="editar_perfil-premium.html").btn.btn-primary
			h6.m-1.fw400 Editar perfil
		div.mt-5
			div 
				div.mb-4
					h4.fw700 Datos personales:
				div.my-4
					div.row.my-3
						div.col-sm-3
							h5.fw400 Nombre:
						div.col-sm-9
							h5.fw400 Lorena 
					div.row.my-3
						div.col-sm-3
							h5.fw400 Apellido:
						div.col-sm-9
							h5.fw400 Alva
					div.row.my-3
						div.col-sm-3
							h5.fw400 Correo electrónico:
						div.col-sm-9
							h5.fw400 lorenaalva2@gmail.com
						
				div.mt-5
					h4.fw700 Mamá de:
				div.row.my-4
					div.col-lg-2.col-5.col-md-3
						<div style="width:6rem;height:6rem; background-color:#51A1DB" class=" my-2 d-flex align-items-center justify-content-center rounded-circle ">
							h4.m-1.fw700 L
						</div>
						div.d-flex.justify-content-start
							div.p-3.text-center 
								h5.fw400 Laura 
								h5.fw400 12 años
					div.col-lg-10.col-7.col-md-5
						<div style="width:6rem;height:6rem; background-color:#89CE43" class=" my-2 d-flex align-items-center justify-content-center rounded-circle ">
							h4.m-1.fw700 M
						</div> 
						div.d-flex.justify-content-start
							div.p-3.text-center 
								h5.fw400 Miguel
								h5.fw400 8 años
				div.my-5
					h4.fw700 ¿Cómo me describo?
					.my-2
						div 
							div.d-md-flex.d-block
								div.col-md-4.d-flex.justify-content-start.mt-5 
									div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-4 
										h5.m-3.fw400 Empática/o
								div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-5 
									div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-4
										h5.m-3.fw400 Estricta/o 
							div.d-md-flex.d-block
								div.col-md-4.d-flex.justify-content-start.mt-5 
									div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-4 
										h5.m-3.fw400 Planificador/a
								div.col-md-4.d-flex.justify-content-md-center.justify-content-start.mt-5 
									div.col-md-11.col-sm-10.col-12.bg-white.sombra.rounded-4 
										h5.m-3.fw400 Afectiva/o
				div.my-6
					h4.fw700 Quiero Retarme
					.my-2 
						div 
							div.d-md-flex.d-block
								div.col-md-4.d-flex.justify-content-md-start.justify-content-center.mt-5 
									a(href="quiero_retarme.html").text-decoration-none.sombra.rounded-4.col-10.text-center.bg-naranja2.text-white 
										h5.m-5.fw400 Cuerpo
								div.col-md-4.d-flex.justify-content-center.mt-5 
									a(href="quiero_retarme.html").text-decoration-none.sombra.rounded-4.col-10.text-center.text-white.bg-agua2  
										h5.m-5.fw400 Límites
								div.col-md-4.d-flex.justify-content-md-end.justify-content-center.mt-5  
									a(href="quiero_retarme.html").text-decoration-none.sombra.rounded-4.col-10.text-center.text-white.bg-rosada 
										h5.m-5.fw400 Sexualidad
							div.d-md-flex.d-block
								div.col-md-4.d-flex.justify-content-md-start.justify-content-center.mt-5 
									a(href="quiero_retarme.html").text-decoration-none.sombra.rounded-4.col-10.text-center.text-white.bg-mora2 
										h5.m-5.fw400 Violencia
								div.col-md-4.d-flex.justify-content-center.mt-5 
									a(href="quiero_retarme.html").text-decoration-none.sombra.rounded-4.col-10.text-center.text-white.bg-mora-fuerte  
										h5.m-5.fw400 Salud Mental
		a(data-bs-toggle="modal" data-bs-target="#staticBackdrop").btn.btn-primary.col-lg-4.col-sm-8.col-9.mt-9.mb-6
			h5.m-1.fw400 Cancelar suscripción
	<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content rounded-4 border-mora">
				<div class="modal-body m-4">
					#caja1
						div.d-flex.justify-content-center
							div.color-primary.text-center.col-md-10
								h5.fw700 Lamentamos mucho que quieras cancelar tu suscripción a Premium. Recuerda que puedes reactivarla cuando quieras.
								br
								h5.fw700 ¿Por qué deseas cancelar tu suscripción?*
						div.d-flex.justify-content-center
							<div class=" mt-1">
								<div class="form-check mt-2 ml-1">
									<input class="border-mora form-check-input fs-5" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label m-1 fw400" for="flexCheckDefault">Ya no necesito la información</label>
								</div>
								<div class="form-check mt-2 ml-1">
									<input class="border-mora form-check-input fs-5" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label m-1 fw400" for="flexCheckDefault">No encuentro la información que busco</label>
								</div>
								<div class="form-check mt-2 ml-1">
									<input class="border-mora form-check-input fs-5" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label m-1 fw400" for="flexCheckDefault">He encontrado otra opción</label>
								</div>
								<div class="form-check mt-2 ml-1">
									<input class="border-mora form-check-input fs-5" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label m-1 fw400" for="flexCheckDefault">La suscripción es muy cara</label>
								</div>
								<div class="form-check mt-2 ml-1 mb-4">
									<input class="border-mora form-check-input fs-5" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label m-1 fw400" for="flexCheckDefault">No la utilizo tanto como quisiera</label>
								</div>
							</div>
						div.d-flex.justify-content-center    
							div.d-lg-flex.d-block.justify-content-center.my-4
								a(data-bs-dismiss="modal").col-lg-4.col-10.m-4.btn.btn-white2.d-flex.justify-content-center
									h6.m-1.fw700 Volver
								a().btn-cancel-1.col-lg-7.col-10.m-4.btn.btn-primary.d-flex.justify-content-center
									h6.m-1.fw700 Cancelar suscripción
					#caja2
						.d-flex.justify-content-center
							.color-primary.text-center.col-md-10
								h5.fw700 Tu suscripción ha sido cancelada.
								br
								h5.fw700 Recuerda que podrás disfrutar de los beneficios Premium hasta que termine este mes de suscripción.
						.d-flex.justify-content-center
							.text-center.mt-5.mb-4.col-lg-4.col-10   
								h6.fw400 Disfruta Premium hasta el 20 de enero de 2023
						.d-flex.justify-content-center    
							.d-lg-flex.d-block.justify-content-center.my-4
								a(data-bs-dismiss="modal").col-lg-4.col-10.m-4.btn.btn-white2.d-flex.justify-content-center
									span.m-1.fw700 Volver
								a.btn-cancel-2.col-lg-7.col-10.m-4.btn.btn-primary.d-flex.justify-content-center
									h6.m-1.fw700 Cancelar suscripción
				</div>
			</div>
		</div>
	</div>