extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="home-freemium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.my-5
        a(href="editar_perfil-freemium.html").btn.btn-primary
            h6.m-1.fw400 Editar perfil
        div.mt-5
            div 
                div.mb-4
                    h4.fw700 Datos personales:
                div.my-4
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Nombre:
                        div.col-sm-9
                            h5.fw400 Lorena 
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Apellido:
                        div.col-sm-9
                            h5.fw400 Alva
                    div.row.my-3
                        div.col-sm-3
                            h5.fw400 Correo electrónico:
                        div.col-sm-9
                            h5.fw400 lorenaalva2@gmail.com
    <section class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-6 d-md-block d-none">
                    div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                        <div class="d-block">
                            <figure class="cajafoto img-fluid">
                                <img src="./images/home-freemium/chica-accede-premium.png" class="w-100" alt="..." style="border-radius: 10px; height: 24rem">
                            </figure>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-end my-md-4 my-0">
                            h1.color-primary.fw700 Nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div.col-md-2
                                div.col-md-10
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Accede a contenido ilimitado
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Guarda tus contenidos favoritos
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Filtra por el perfil de tus hijas o hijos
                    </div>
                    div.d-flex.justify-content-end
                        a(href="registro-premium.html").btn.btn-primary
                            h6.m-2.fw700 Acceder a Premium
                </div>
            </div>
    </section>                     
    