extends ../layouts/default-layout3-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="editar_perfil-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.container.mt-7.mb-6
        div
            h4.fw700.mt-3 Cuerpo
        div
            h4.fw600.mt-4 Verdadero o Falso
            h5.fw400.mt-3 Pon a prueba tus conocimientos con estas preguntas
        .mt-4.mb-7
            div
                        div 
                            div.d-md-flex.d-block
                                div.col-md-4.d-flex.justify-content-md-start.justify-content-center.mt-4 
                                    div.col-lg-10.col-md-11.col-sm-8.col-10.bg-white.border-mora.rounded-5
                                        div.m-4
                                            div.text-center
                                                h4.fw600.color-primary ¡Es Verdadero!
                                            div.mb-5 
                                                h5.fw400 La autoexploración o masturbación es un proceso completamente normal y natural en la adolescencia. No olvidemos enfatizar que si se da, debe ser en privado.
                                div.col-md-4.d-flex.justify-content-center.mt-4 
                                    div.col-lg-10.col-md-11.col-sm-8.col-10.bg-white.border-mora.rounded-5
                                        div.m-4
                                            div.text-center
                                                h4.fw600 2.
                                            div 
                                                h5.fw400 La autoexploración o masturbación es algo natural de la adolescencia.
                                            div.mt-5
                                                a(href="").btn.btn-outline-primary5.d-flex.justify-content-center.col-12
                                                    h6.m-1.fw400 Verdadero
                                                a(href="").mt-3.btn.btn-outline-primary5.d-flex.justify-content-center.col-12
                                                    h6.m-1.fw400 Falso
                                div.col-md-4.d-flex.justify-content-md-end.justify-content-center.mt-4 
                                    div.col-lg-10.col-md-11.col-sm-8.col-10.bg-white.border-mora.rounded-5
                                        div.m-4
                                            div.text-center
                                                h4.fw600 3.
                                            div 
                                                h5.fw400 La autoexploración o masturbación es algo natural de la adolescencia.
                                            div.mt-5
                                                a(href="").btn.btn-outline-primary5.d-flex.justify-content-center.col-12
                                                    h6.m-1.fw400 Verdadero
                                                a(href="").mt-3.btn.btn-outline-primary5.d-flex.justify-content-center.col-12
                                                    h6.m-1.fw400 Falso