extends ../layouts/default-layout.pug
block content
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold(style='color: #F37053') ¡Queremos conocerte un poco más!
    h5.text-center Rol de crianza
