extends ../layouts/default-layout4.pug
block content
    div.container
        div.my-5.row
            div.col-2.d-md-flex.d-none.justify-content-end 
                img.mt-3.img-fluid(src='./images/registro-premium/deco1.png' alt='...')(style='width: 2.5rem; height: 4rem')
            div.col-md-8.col-12
                section.container.d-flex.justify-content-center.col-lg-10.col-md-11.col-12
                    div.mt-7.col-lg-9
                        <form class="">
                            <label for="exampleInputEmail1" class=" form-label mt-2 h6 fw400">¿Cuáles son las barreras que no te permiten abordar los temas?</label>
                            <div class=" mt-3">
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">Falta de información</label>
                                </div>
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">Son temas nuevos para mí</label>
                                </div>
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">No estoy de acuerdo con los temas</label>
                                </div>
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">Vergüenza</label>
                                </div>
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">Falta de tiempo</label>
                                </div>
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">Desacuerdo con mi pareja sobre como abordar estos tema</label>
                                </div>
                                <div class="form-check mt-2 ml-1">
                                    <input class="form-check-input fs-5 border-mora" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label m-1 fw400" for="flexCheckDefault">Falta de herramientas</label>
                                </div>
                            </div>
                        </form>
                div.d-flex.justify-content-center.mt-7.mb-5
                    a.d-flex.text-decoration-none.m-4.justify-content-end.col-5.align-items-center(href="registro5-premium.html")
                        h6.color-black.fw400.me-2 Atrás
                        <i class="h2 fa-solid fa-circle-chevron-left color-icon3"></i>
                    a.d-flex.text-decoration-none.m-4.justify-content-start.align-items-center.col-5(href="pago-premium.html")
                        <i class="h2 fa-solid fa-circle-chevron-right color-icon3 me-2"></i>
                        h6.color-black.fw400 Siguiente  
            div.col-2.mt-8.d-md-flex.d-none
                img.mt-3.img-fluid(src='./images/registro-premium/deco2.png' alt='...')(style='width: 6rem; height: 8rem')                  