extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    section.container
        .mt-5
        h4.fw700 Resultados para: Salud Mental
    .container
        .row.justify-content-center.my-4.mt-6
            a.btn.m-2.col-6.col-md-4.mt-5(style='width: 16rem;' href="")
                img.card-img-top(src='./images/landing/profesi1.png' alt='...')
                .card-body.text-sm-start.text-center
                    h5.card-title.fw600 Importancia de ir al psicólogo
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-5(style='width: 16rem;' href="")
                img.card-img-top.rounded-4.sombra(src='./images/landing/profesi2.png' alt='...')
                .card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Qué es el cyberbullying?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-5(style='width: 16rem;' href="")
                img.card-img-top(src='./images/landing/profesi3.png' alt='...')
                .card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Mi hijo/o es ansiosa/o?
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-5(style='width: 16rem;' href="")
                img.card-img-top.rounded-4.sombra(src='./images/landing/profesi4.png' alt='...')
                .card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Debo poner límites?
                    h6.card-text.fw400 8 - 12 años
    .mt-6                    