extends ../layouts/default-layout2.pug
block content
    section.bg-mora.border-top
        div.container
            div.d-flex.justify-content-center.align-items-center
                a.text-white.anterior
                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                div.d-flex.lista
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo

                a.text-white.siguiente 
                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    section.bg-mora.border-top
        div.container
            div.d-flex
                a(href="mi-perfil.html").my-2.btn.btn-filtrar 
                    h5.m-1.font-weight-bold Filtrar contenido por
    div.text-white.bg-mora.d-flex.align-items-center
        div.ml-6.container
            <a class="text-white nav-link h5 mt-1" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9
                    h4 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                        h5.m-1.font-weight-bold Inicia aquí
    section.container
        .mt-5
        h2.font-weight-bold(style='color: black;') Resultados para: Salud Mental
    .container
        .row.justify-content-center.my-4.mt-6
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top(src='./images/landing/profesi1.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold Importancia de ir al psicólogo
                    h5.card-text 8 - 10 años
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top.rounded-4.sombra(src='./images/landing/profesi2.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold ¿Qué es el cyberbullying?
                    h5.card-text 8 - 11 años
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top(src='./images/landing/profesi3.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold ¿Mi hijo/o es ansiosa/o?
                    h5.card-text 8 - 10 años
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top.rounded-4.sombra(src='./images/landing/profesi4.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold ¿Debo poner límites?
                    h5.card-text 8 - 12 años
    .mt-6                    