extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    section.container.text-center
        .mt-6
        h3.text-center.fw700 No se encontraron resultados para: Salud Mental
        img.fluid.mt-4(src='./images/home-freemium/cara-triste.png' alt='...')(style='width: 10rem; height: 10rem')
    div.d-flex.justify-content-center.mt-5
        a(href="doubtbox2-freemium.html").btn.btn-primary(style='width: 20rem;')
            h5.m-2.fw600 Dejar una duda
    div.d-flex.justify-content-center.mt-4
        a(href="home-freemium.html").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-2.fw600 Volver al inicio
    .mt-6                