extends ../layouts/default-layout2.pug
block content
    section.bg-mora.border-top
        div.container
            div.d-flex.justify-content-center.align-items-center
                a.text-white.anterior
                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                div.d-flex.lista
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Límites
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Salud Mental 
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Identidad
                    div
                        a(href="mi-perfil.html").m-2.col-11.btn.btn-sm.btn-white 
                            h5.m-1.font-weight-bold Cuerpo

                a.text-white.siguiente 
                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    section.bg-mora.border-top
        div.container
            div.d-flex
                a(href="mi-perfil.html").my-2.btn.btn-filtrar 
                    h5.m-1.font-weight-bold Filtrar contenido por
    div.text-white.bg-mora.d-flex.align-items-center
        div.ml-6.container
            <a class="text-white nav-link h5 mt-1" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9
                    h4 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                        h5.m-1.font-weight-bold Inicia aquí
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold No se encontraron resultados para: Salud Mental
        img.fluid.mt-4(src='./images/home-freemium/Group 146.png' alt='...')(style='width: 10rem; height: 10rem')
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Dejar una duda
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Volver al inicio
    .mt-6                