extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.ml-6.container
            <a class="text-white nav-link h5 mt-1" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9
                    h4 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                        h5.m-1.font-weight-bold Inicia aquí
    section.container.text-center
        .mt-6
        h2.text-center.font-weight-bold No se encontraron resultados para: Salud Mental
        img.fluid.mt-4(src='./images/home-freemium/Group 146.png' alt='...')(style='width: 10rem; height: 10rem')
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Dejar una duda
    div.d-flex.justify-content-center.mt-5
        a(href="").btn.btn-outline-primary(style='width: 20rem;')
            h5.m-1.font-weight-bold Volver al inicio
    .mt-6                