extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="home-freemium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-md-8.col-6.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    div.container
            div.mt-5
                h4.fw700 Salud Mental
    div.container
        div.row.justify-content-center.my-4
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure3.cajafoto3
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Importancia de ir al psicólogo
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure4.cajafoto4
                    img.card-img-top.rounded-4.sombra(src='./images/home-freemium/continua-viendo1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-titled.fw600 ¿Qué es el cyberbullying?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure6.cajafoto6
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi3.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Mi hijo/o es ansiosa/o?
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="" )
                div.figure5.cajafoto5
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi4.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Debo poner límites?
                    h6.card-text.fw400 8 - 12 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure3.cajafoto3
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Importancia de ir al psicólogo
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure4.cajafoto4
                    img.card-img-top.rounded-4.sombra(src='./images/home-freemium/continua-viendo1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Qué es el cyberbullying?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure6.cajafoto6
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi3.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Mi hijo/o es ansiosa/o?
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure5.cajafoto5
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi4.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Debo poner límites?
                    h6.card-text.fw400 8 - 12 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="contenido_podcast-freemium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Ansiedad de vuelta a la escuela
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="contenido_articulo-freemium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña2.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Qué es la salud mental?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="videocontent-freemium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña3.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Promoviendo la autoestima
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="videocontentwithask-freemium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña4.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Cómo conversar de manera asertiva
                    h6.card-text.fw400 8 - 12 años
        <section class="container my-5">
            <div class="row">
                <div class="col-lg-6 d-md-block d-none">
                    div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                        <div class="d-block">
                            <div class="cajafoto7 figure7 img-fluid">
                                <img src="./images/home-freemium/chica-accede-premium.png" class="w-100" alt="..." style="border-radius: 10px; height: 24rem">
                            </div>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-end my-md-4 my-0">
                            h1.color-primary.fw700 Accede a nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div.col-md-2
                                div.col-md-10
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Accede a contenido ilimitado
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Guarda tus contenidos favoritos
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Filtra por el perfil de tus hijas o hijos
                    </div>
                    div.d-flex.justify-content-end
                        a(href="").btn.btn-primary
                            h6.m-2.fw700 Acceder a Premium
                </div>
            </div>
        </section>
    <div style ="margin-top: 12rem">
    <div>    
    