extends ../layouts/default-layout2-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="home-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    div.container
            div.mt-5
                h4.fw700 Salud Mental
    div.container
        div.row.justify-content-center.my-4
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure3.cajafoto3
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Importancia de ir al psicólogo
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure4.cajafoto4
                    img.card-img-top.rounded-4.sombra(src='./images/home-freemium/continua-viendo1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-titled.fw600 ¿Qué es el cyberbullying?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure5.cajafoto5
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi3.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Mi hijo/o es ansiosa/o?
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="" )
                div.figure6.cajafoto6
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi4.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Debo poner límites?
                    h6.card-text.fw400 8 - 12 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure3.cajafoto3
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Importancia de ir al psicólogo
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure4.cajafoto4
                    img.card-img-top.rounded-4.sombra(src='./images/home-freemium/continua-viendo1.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Qué es el cyberbullying?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure5.cajafoto5
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi3.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Mi hijo/o es ansiosa/o?
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="")
                div.figure6.cajafoto6
                    img.card-img-top.rounded-4.sombra(src='./images/landing/profesi4.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Debo poner límites?
                    h6.card-text.fw400 8 - 12 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="contenido_podcast-premium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Ansiedad de vuelta a la escuela
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="contenido_articulo-premium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña2.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 ¿Qué es la salud mental?
                    h6.card-text.fw400 8 - 11 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="videocontent-premium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña3.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Promoviendo la autoestima
                    h6.card-text.fw400 8 - 10 años
            a.btn.m-2.col-6.col-md-4.mt-4(style='width: 16rem;' href="videocontentwithask-premium.html")
                img.card-img-top.rounded-4.sombra(src='./images/uso_filtro-freemium/niña4.png' alt='...')
                div.card-body.text-sm-start.text-center
                    h5.card-title.fw600 Cómo conversar de manera asertiva
                    h6.card-text.fw400 8 - 12 años    