extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="#"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.my-2.d-flex.align-items-center.col-md-9.text-center.text-md-start
                    h5.fw400 ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="mi-perfil.html").col-8.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    div.container
        div.mt-5
            h4.fw700 Poniendo Limites
        div 
            <img src="./images/home-freemium/Rectangle 317.png" class="img-fluid mb-4 mt-5" alt="...">
            <div>
                <a href="attempttosave-freemium.html" style="color: #000000"><i class="fa-regular fa-bookmark m-1"></i></a>
                <a href="trytoentersavepage-freemium.html" style="color: #000000"><i class="fa-solid fa-share m-1"></i></a>
            </div>
            br 
            h5.fw700 Por Liliana Buendía
            br
            h6.fw400 7 dic 2022 - 7 min
            br
            h6.fw400 Poner límites puede suponer un reto muy grande.¿Cúando estoy siendo muy estricto o estricta? ¿Este  
            h6.fw400 límite es adecuado para su edad? 
            br 
            h6.fw400 Liliana , piscológa de adolescentes, nos cuenta cómo evaluar y ponoer límites adecuados. 
        div.my-4 
            <div class="accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            h5.fw700 Preguntas Frecuentes
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="hThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cThree" aria-expanded="false" aria-controls="cThree" style="background-color: #61B0BC; color: white; border-radius: 5rem;">
                                            h6.font-weight-bold ¿Cuánto tiempo deberían usar el celular?
                                        </button>
                                    </h2>
                                    <div id="cThree" class="accordion-collapse collapse" aria-labelledby="hThree">
                                        br
                                        h5.p-1.fw400 Determinar el tiempo del uso del celular u otros dispositivos móviles puede ser complejo. Aquí te dejamos  algunos tips para determianr el tiempo adecuado:
                                        br
                                        h5.p-1.fw400 1. Completa sus quehaceres
                                        h5.p-1.fw400 2. El uso que le da al dispositivo
                                        h5.p-1.fw400 3. Completa sus quehaceres
                                        br
                                        div.container.my-5
                                            div.my-3.d-flex.align.items.center 
                                                h5.fw400.me-4.mt-3 ¿Te sirvió?
                                                <i class="fa-regular fa-star h2 m-2"></i>
                                                <i class="fa-regular fa-star h2 m-2"></i>
                                                <i class="fa-regular fa-star h2 m-2"></i>
                                                <i class="fa-regular fa-star h2 m-2"></i>
                                                <i class="fa-regular fa-star h2 m-2"></i>
                                    </div>       
                                </div>
                                <div class="accordion-body">
                            .row.text-white
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold.fw400 ¿Cuánto tiempo deberían dejarlo jugar?
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold.fw400 ¿Debería dejarla ir a pijamadas?
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold.fw400 Lorem Ipsum
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold.fw400 Lorem Ipsum
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion.fw700.h5 Para conversar con tus hijas/os
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            .row.text-white
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold.fw400 Lorem ipsum 
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold.fw400 Lorem ipsum
                        </div>
                    </div>
                </div>
            </div>
    div.container.my-5
        div.my-3.d-flex.align.items.center 
            h5.fw700.me-4.mt-3 ¿Te sirvió?
            <i class="fa-regular fa-star h2 m-2"></i>
            <i class="fa-regular fa-star h2 m-2"></i>
            <i class="fa-regular fa-star h2 m-2"></i>
            <i class="fa-regular fa-star h2 m-2"></i>
            <i class="fa-regular fa-star h2 m-2"></i>
    div.bg-amarillo
            .container
                div.p-5
                    div.text-center
                        h5.fw400 ¿Te quedaron dudas?
                    div.d-flex.justify-content-center
                        a(href="doubtbox2-freemium.html").my-2.btn.btn-outline-primary.col-lg-2.col-0
                                    h5.m-1.fw600 ¡Déjala aquí!
    section.my-6
        <div class="container my-4">
                    h4.fw700 Contenido relacionado
        </div>
        div
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-lg-start justify-content-center align-items-center">
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mt-3 " style="width: 16rem;">
                            <img src="./images/landing/profesi1.png" class="card-img-top" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">¿Qué es la salud mental?</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/landing/profesi2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Promoviendo la autoestima</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </div>
                        <div class="m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/landing/profesi2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Cómo conversar de manera asertiva</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <section class="container my-5">
            <div class="row">
                <div class="col-lg-6 ">
                    div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                        <img src="./images/landing/profesi4.png" class="rounded-5" alt="..." style="width:28rem;height:20rem" >
                </div>
                <div class="col-lg-6">
                    <div class="text-end my-md-4 my-0">
                            h1.color-primary.font-weight-bold.fw700 Accede a nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div.col-md-3
                                div.col-md-9
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Accede a contenido ilimitado
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Guarda tus contenidos favoritos
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Filtra por el perfil de tus hijas o hijos
                    </div>
                    div.d-flex.justify-content-end
                        a(href="").btn.btn-primary
                            h5.m-1.font-weight-bold.fw700 Acceder a Premium
                </div>
            </div>
        </section>                              