extends ../layouts/default-layout3.pug
block content
    section.container
        .mt-5
        h2.font-weight-bold(style='color: black;') Poniendo límites
    .mt-2.text-center     
        img.fluid.mt-4(src='./images/home-freemium/Rectangle 317.png' alt='...')(style='height: 43rem;')    
    section.container
        .row.align-items-start
            .col Test Icon
            .col Test Icon
            .col Test Icon
    section.container
        .mt-5
        h2.font-weight-bold(style='color: black;') Por Liliana Buendía       
        h5.mt-4 7 dic 2022 - 7 min
        h5.mt-4 Poner límites puede suponer un reto muy grande. ¿Cúando estoy siendo muy estricto o estricta? ¿Este
        h5 límite es adecuado para su edad?
        h5.mt-4  Liliana, psicóloga de adolescentes, nos cuenta cómo evaluar y poner límites adecuados.
    
        div.my-4 
            <div class="accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion-item rounded-3">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Accordion.h5.font-weight-bold Preguntas Frecuentes 
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            .row.text-white
                                .col-6
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Cuánto tiempo deberían usar el celular?
                                .col-6
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur 
                        </div>
                    </div>
                </div>  
            </div>
        

        div.my-4 
            <div class="accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion-item rounded-3">
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion.font-weight-bold.h5 Para conversar con tus hijas/os
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            .row.text-white
                                .col-6
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur 
                                .col-6
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.font-weight-bold ¿Lorem ipsum dolor sit amet consectetur 
                        </div>
                    </div>
                </div>            
            </div>

    section.container
        .mt-5
        h3.font-weight-bold(style='color: black;') ¿Te sirvió?     
        .containter(style='background-color: orange')
            h4.text-center ¿Te quedarón dudas?

    section.container
        .mt-5
        h2.font-weight-bold(style='color: black;') Contenido relacionado
    .container
        .row.justify-content-center.my-4.mt-6
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top(src='./images/landing/profesi1.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold Importancia de ir al psicólogo
                    h5.card-text 8 - 10 años
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top.rounded-4.sombra(src='./images/landing/profesi2.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold ¿Qué es el cyberbullying?
                    h5.card-text 8 - 11 años
            .m-2.col-6.col-md-4.mt-5(style='width: 16rem;')
                img.card-img-top(src='./images/landing/profesi3.png' alt='...')
                .card-body.text-sm-start.text-center
                    h4.card-title.font-weight-bold ¿Mi hijo/o es ansiosa/o?
                    h5.card-text 8 - 10 años
    .mt-6
        <section class="container">
        <div class="row">
            <div class="col-lg-6 ">
                div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                    <img src="./images/landing/profesi4.png" class="rounded-5" alt="..." style="width:28rem;height:15rem" >
            </div>
            <div class="col-lg-6">
                <div class="text-end my-md-4 my-0">
                        h1.color-primary.font-weight-bold Nuestra versión Premium a S/.9.90 al mes
                        div.row.my-4
                            div.col-md-3
                            div.col-md-9
                                div.d-flex.justify-content-between
                                    <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                    h5 Accede a contenido ilimitado
                                div.d-flex.justify-content-between
                                    <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                    h5 Guarda tus contenidos favoritos
                                div.d-flex.justify-content-between
                                    <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                    h5 Filtra por el perfil de tus hijas o hijos
                </div>
                div.d-flex.justify-content-end
                    a(href="").btn.btn-primary
                        h5.m-1.font-weight-bold Acceder a Premium
            </div>
        </div>
    </section>                          