extends ../layouts/default-layout2-premium.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="uso_filtro-premium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    div.container
        div.my-5
            h4.fw700 Poniendo Limites
            br
        div 
            div.video-contenedor
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9Cz35C0SCGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            div.d-flex.mt-2.justify-content-between
                <div>
                    <a href="guardados-premium.htmll" style="color: #000000"><i class="fa-regular fa-bookmark m-1 h4"></i></a>
                    <a href="#" style="color: #000000"><i class="fa-regular fa-share-from-square m-1 h4"></i></a>
                </div>
                <div class="d-flex">
                    h5.m-1.fw500 207
                    <a href="guardados-premium.html" style="color: #000000"><i class="fa-regular fa-heart m-1 h4"></i></a>
                </div>
            br 
            br
            h5.fw700 Por Liliana Buendía
            br
            br
            h6.fw400 7 dic 2022 - 7 min
            br
            br
            p.fw400 Poner límites puede suponer un reto muy grande.¿Cúando estoy siendo muy estricto o estricta? ¿Este límite es adecuado para su edad? 
            p.fw400 Liliana , piscológa de adolescentes, nos cuenta cómo evaluar y ponoer límites adecuados. 
        div.my-5 
            <div class="accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" style="background-color: #F9F8F3;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            h5.fw700 Preguntas Frecuentes
                            </button>
                        </h2>
                        <div id="collapseTwo" class=" accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body" style="background-color: #F9F8F3;">
                                <div class="accordion-item p-lg-4 p-3 border-total rounded rounded-4" style="background-color: #F9F8F3;">
                                    <h2 class="accordion-header" id="hThree" style="">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cThree" aria-expanded="false" aria-controls="cThree" style="background-color: #61B0BC; color: white; border-radius: 1.5rem;">
                                            h6.fw400 ¿Cuánto tiempo deberían usar el celular?
                                        </button>
                                    </h2>
                                    <div id="cThree" class="border accordion-collapse collapse" aria-labelledby="hThree" style="background-color: white; border: 2px solid #61B0BC; border-radius: 2rem">
                                        br
                                        div.p-4
                                            h5.p-1.fw400 Determinar el tiempo del uso del celular u otros dispositivos móviles puede ser complejo. Aquí te dejamos  algunos tips para determinar el tiempo adecuado:
                                            br
                                            h5.p-1.fw400 1. Completa sus que haceres
                                            h5.p-1.fw400 2. El uso que le da al dispositivo
                                            h5.p-1.fw400 3. Completa sus quehaceres
                                            br
                                            div.container.my-5
                                                div.my-3.d-md-flex.d-block
                                                    h5.fw400.me-4.mt-2 ¿Te sirvió?
                                                    div.d-flex
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                    </div>       
                                </div>
                                <div class="accordion-body">
                            .row.text-white
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Cuánto tiempo deberían dejarlo jugar?
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Debería dejarla ir a pijamadas?
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem Ipsum
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem Ipsum
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" style="background-color: #F9F8F3;" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion.fw700.h5 Para conversar con tus hijas/os
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color:#F9F8F3;">
                            .row.text-white
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem ipsum 
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem ipsum
                        </div>
                    </div>
                </div>
            </div>
    div.container.my-5
        div.my-3.d-md-flex.d-block
            h5.fw700.me-4.mt-3 ¿Te sirvió?
            div.d-flex
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
    div.bg-amarillo
            .container
                div.p-5
                    div.text-center
                        h5.fw400 ¿Te quedaron dudas?
                    div.d-flex.justify-content-center.align-items-center
                        img(src="./images/contenido_articulo-freemium/expresion3.png", alt="" class="m-2" style="height:4rem")
                        a(href="doubtbox2-premium.html").my-2.btn.btn-outline-primary.col-lg-3.col-9
                                    h5.m-2.fw600 ¡Déjala aquí!
                        img(src="./images/contenido_articulo-freemium/expresion4.png", alt="" class="m-2" style="height:4rem")
    section.my-6
        <div class="container my-4">
                    h4.fw700 Contenido relacionado
        </div>
        div
            <section class="container">
                <div class="">
                    <div class="row d-flex justify-content-lg-start justify-content-center align-items-center">
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 mb-md-0 mt-3 " style="width: 16rem;">
                            <img src="./images/uso_filtro-freemium/niña2.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">¿Qué es la salud mental?</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </a>
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/uso_filtro-freemium/niña3.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Promoviendo la autoestima</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </a>
                        <a href="" class="btn m-2 col-6 col-md-4 my-lg-4 my-0 md-0 mt-3" style="width: 16rem;">
                            <img src="./images/uso_filtro-freemium/niña4.png" class="card-img-top rounded-4 sombra" alt="...">
                            <div class="card-body text-sm-start text-center">
                                <h5 class="card-title fw600">Cómo conversar de manera asertiva</h5>
                                <h6 class="card-text fw400">8 - 10 años</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </section>