extends ../layouts/default-layout2.pug
block content
    div.text-white.bg-mora.d-flex.align-items-center
        div.container
            <a class="text-white nav-link h5" href="uso_filtro-freemium.html"><i class="fa-solid fa-chevron-left"></i> Volver</a>
    section.bg-naranja.border-top
        div.container
            div.text-white.d-flex.row
                div.text-center.my-2.d-flex.align-items-center.col-md-9.justify-content-md-start.justify-content-center
                    h5.fw400.d-md-block.d-none ¡Accede a contenido ilimitado con Premium!
                    h6.letra.fw400.d-md-none.d-block ¡Accede a contenido ilimitado con Premium!
                div.my-2.d-flex.align-items-center.col-md-3.justify-content-center.justify-content-md-end
                    a(href="registro-premium.html").col-md-8.col-6.btn.btn-outline-primary 
                            h6.m-1.fw700 Inicia aquí
    div.container
        div.my-5
            h4.fw700 Poniendo Limites
            br
        div 
            div.video-contenedor
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9Cz35C0SCGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            div.d-flex.mt-2.justify-content-between
                <div>
                    <a href="attempttosave-freemium.html" style="color: #000000"><i class="fa-regular fa-bookmark m-1 h4"></i></a>
                    <a href="trytoentersavepage-freemium.html" style="color: #000000"><i class="fa-regular fa-share-from-square m-1 h4"></i></a>
                </div>
                <div class="d-flex">
                    h5.m-1.fw500 207
                    <a href="attempttosave-freemium.html" style="color: #000000"><i class="fa-regular fa-heart m-1 h4"></i></a>
                </div>
            br 
            br
            h5.fw700 Por Liliana Buendía
            br
            br
            h6.fw400 7 dic 2022 - 7 min
            br
            br
            p.fw400 Poner límites puede suponer un reto muy grande.¿Cúando estoy siendo muy estricto o estricta? ¿Este límite es adecuado para su edad? 
            p.fw400 Liliana , piscológa de adolescentes, nos cuenta cómo evaluar y ponoer límites adecuados. 
        div.my-5 
            <div class="marginselec accordion accordion-flush rounded-3" id="accordionFlushExample">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" style="background-color: #F9F8F3;" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            h5.fw700 Preguntas Frecuentes
                            </button>
                        </h2>
                        <div id="collapseTwo" class=" accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body" style="background-color: #F9F8F3;">
                                <div class="accordion-item p-lg-4 p-3 border-total rounded rounded-4" style="background-color: #F9F8F3;">
                                    <h2 class="accordion-header" id="hThree" style="">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cThree" aria-expanded="false" aria-controls="cThree" style="background-color: #61B0BC; color: white; border-radius: 1.5rem;">
                                            h6.fw400 ¿Cuánto tiempo deberían usar el celular?
                                        </button>
                                    </h2>
                                    <div id="cThree" class="accordion-collapse collapse" aria-labelledby="hThree" style="background-color: white; border: 2px solid #61B0BC; border-radius: 2rem">
                                        br
                                        div.p-4
                                            h5.p-1.fw400 Determinar el tiempo del uso del celular u otros dispositivos móviles puede ser complejo. Aquí te dejamos  algunos tips para determinar el tiempo adecuado:
                                            br
                                            h5.p-1.fw400 1. Completa sus que haceres
                                            h5.p-1.fw400 2. El uso que le da al dispositivo
                                            h5.p-1.fw400 3. Completa sus quehaceres
                                            br
                                            div.container.my-5
                                                div.my-3.d-md-flex.d-block
                                                    h5.fw400.me-4.mt-2 ¿Te sirvió?
                                                    div.d-flex
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                                        <i class="fa-regular fa-star h2 m-1"></i>
                                    </div>       
                                </div>
                                <div class="accordion-body">
                            .row.text-white
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Cuánto tiempo deberían dejarlo jugar?
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 ¿Debería dejarla ir a pijamadas?
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem Ipsum
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem Ipsum
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" style="background-color: #F9F8F3;" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion.fw700.h5 Para conversar con tus hijas/os
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color: #F9F8F3;">
                            .row.text-white
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem ipsum 
                                .col-md-6.col-0
                                    div
                                        div.bg-agua.rounded-4.my-3
                                            h6.p-3.fw400 Lorem ipsum
                        </div>
                    </div>
                </div>
            </div>
    div.container.my-5
        div.my-3.d-md-flex.d-block
            h5.fw700.me-4.mt-3 ¿Te sirvió?
            div.d-flex
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
                <i class="fa-regular fa-star h2 m-2"></i>
    div.bg-amarillo
            .container
                div.p-5
                    div.text-center
                        h5.fw400 ¿Te quedaron dudas?
                    div.d-flex.justify-content-center.align-items-center
                        img(src="./images/contenido_articulo-freemium/expresion1.png", alt="" class="m-2" style="height:4rem")
                        a(href="doubtbox2-freemium.html").my-2.btn.btn-outline-primary.col-lg-3.col-9
                                    h5.m-2.fw600 ¡Déjala aquí!
                        img(src="./images/contenido_articulo-freemium/expresion2.png", alt="" class="m-2" style="height:4rem")
    section.my-6
        <div class="container my-4">
                    h4.fw700 Contenido relacionado
        </div>
        div
            section.container
                div
                    div.d-flex.justify-content-center.align-items-center
                        a.color-icon.anterior3
                                    <i class="h2 fa-solid fa-circle-chevron-left m-2"></i>
                        div.d-flex.lista3
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure3.cajafoto3 
                                        <img src="./images/landing/profesi1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">Importancia de ir al psicólogo</h5>
                                        <h6 class="card-text">8 - 10 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure4.cajafoto4
                                        <img src="./images/home-freemium/continua-viendo1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Qué es el cyberbullying?</h5>
                                        <h6 class="card-text">8 - 11 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure5.cajafoto5
                                        <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Debo poner límites?</h5>
                                        <h6 class="card-text">8 - 10 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure6.cajafoto6
                                        <img src="./images/landing/profesi3.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Mi hija/o es ansiosa/o?</h5>
                                        <h6 class="card-text">8 - 12 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure3.cajafoto3 
                                        <img src="./images/landing/profesi1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">Importancia de ir al psicólogo</h5>
                                        <h6 class="card-text">8 - 12 años</h5>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure4.cajafoto4 
                                        <img src="./images/home-freemium/continua-viendo1.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Qué es el cyberbullying?</h5>
                                        <h6 class="card-text">8 - 12 años</h6>
                                    </div>
                                </a> 
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure5.cajafoto5
                                        <img src="./images/landing/profesi4.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Debo poner límites?</h5>
                                        <h6 class="card-text">8 - 12 años</h6>
                                    </div>
                                </a>
                            div.justify-content-center.align-items-center.d-flex
                                <a href="" class="btn m-2 col-6 col-md-4" style="width: 15rem;">
                                    div.figure6.cajafoto6
                                        <img src="./images/landing/profesi3.png" class="card-img-top rounded-4 sombra" alt="...">
                                    <div class="card-body text-sm-start text-center">
                                        <h5 class="card-title fw600">¿Mi hija/o es ansiosa/o?</h5>
                                        <h6 class="card-text">8 - 12 años</h5>
                                    </div>
                                </a>
                        a.siguiente3.color-icon
                                    <i class="h2 fa-solid fa-circle-chevron-right m-2"></i>
    <section class=" my-5">
        <div class="img-fluid uni3">
            <img src="./images/home-freemium/accede3.png" class="w-100 " alt="..." style="">
            <div class="text-end my-md-4 my-0 uni4 d-lg-flex justify-content-start d-none ">
                div.col-6
                            h1.color-primary.fw700(style='color: #F37053') Accede a nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div
                                    div.d-flex.justify-content-end
                                        h5.fw400.me-2 Accede a contenido ilimitado
                                        <i class="fa-solid fa-circle-check fs-4 color-green"></i>
                                    div.d-flex.justify-content-end
                                        h5.fw400.me-2 Guarda tus contenidos favoritos
                                        <i class="fa-solid fa-circle-check fs-4 color-green"></i>
                                    div.d-flex.justify-content-end
                                        h5.fw400.me-2 Filtra por el perfil de tus hijas o hijos
                                        <i class="fa-solid fa-circle-check fs-4 color-green"></i>
                            div.d-flex.justify-content-end
                                a(href="registro-premium.html").btn.btn-secondary
                                    h6.m-2.fw700 Acceder a Premium
            </div>
        </div>
    </section>
    <section class="container my-5 d-flex d-lg-none">
            <div class="row">
                <div class="col-lg-6 d-lg-block d-none">
                    div.d-flex.justify-content-lg-start.justify-content-center.align-items-center.my-md-4.my-4
                        <div class="d-block">
                            <div class="cajafoto7 figure7 img-fluid">
                                <img src="./images/home-freemium/chica-accede-premium.png" class="w-100" alt="..." style="border-radius: 10px; height: 24rem">
                            </div>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-end my-md-4 my-0">
                            h1.color-primary.fw700(style='color: #F37053') Accede a nuestra versión Premium a S/. 9.90 al mes
                            div.row.my-4
                                div.col-md-2
                                div.col-md-10
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Accede a contenido ilimitado
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Guarda tus contenidos favoritos
                                    div.d-flex.justify-content-between
                                        <i class="fa-solid fa-circle-check me-5 fs-4 color-green"></i>
                                        h5.fw400 Filtra por el perfil de tus hijas o hijos
                    </div>
                    div.d-flex.justify-content-end
                        a(href="registro-premium.html").btn.btn-secondary
                            h6.m-2.fw700 Acceder a Premium
                </div>
            </div>
    </section>