$primary: #5879BC
$primary-border: 1px solid #5879BC
$primary-hover: #4966a1
$primary-border-hover: 1px solid #4966a1
$shadow: 0 .3rem 0.3rem rgba(0,0,0,.15)!important

$primary-bajo: #B9A4DD
$primary-border-bajo: 1px solid #B9A4DD
$primary-hover-bajo: #a190be
$primary-border-hover-bajo: 1px solid #a190be
$shadow: 0 .3rem 0.3rem rgba(0,0,0,.15)!important

$secondary: #FF7C5F
$secondary-border: 1px solid #FF7C5F
$secondary-hover:  #f8522d
$secondary-border-hover: 1px solid  #f8522d

$white: #ffffff
$white-border: 1px solid #ffffff
$white-hover:  #d4d4d4
$white-border-hover: 1px solid  #d4d4d4

$agua: #7BBBC5
$agua-border: 1px solid #7BBBC5
$agua-hover:  #74acb4
$agua-border-hover: 1px solid  #74acb4

$amarillo: #FFC656
$amarillo-border: 1px solid #FFC656
$amarillo-hover:  #e7b44e
$amarillo-border-hover: 1px solid #e7b44e

$plomo: #ADADAC
$plomo-border: 1px solid #ADADAC
$plomo-hover:  #919191
$plomo-border-hover: 1px solid #919191

$border-radius: 60px

.btn-plomo
    background-color: $plomo
    color: white
    border: $plomo-border
    border-radius: $border-radius

.btn-plomo:hover
    background-color: $plomo-hover
    color: white
    border: $plomo-border-hover
    box-shadow: $shadow

.btn-amarillo
    background-color: $amarillo
    color: white
    border: $amarillo-border
    border-radius: $border-radius

.btn-amarillo:hover
    background-color: $amarillo-hover
    color: white
    border: $amarillo-border-hover
    box-shadow: $shadow

.btn-agua
    background-color: $agua
    color: white
    border: $agua-border
    border-radius: $border-radius

.btn-agua:hover
    background-color: $agua-hover
    color: white
    border: $agua-border-hover
    box-shadow: $shadow

.btn-primary-bajo
    background-color: $primary-bajo
    color: white
    border: $primary-border-bajo
    border-radius: $border-radius

.btn-primary-bajo:hover
    background-color: $primary-hover-bajo
    color: white
    border: $primary-border-hover-bajo
    box-shadow: $shadow

.btn-primary
    background-color: $primary
    border: $primary-border
    border-radius: $border-radius

.btn-primary:hover
    background-color: $primary-hover
    border: $primary-border-hover
    box-shadow: $shadow

.btn-primary:focus
    background-color: $primary-hover
    border-color: $primary-border-hover
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)    

.btn-secondary
    background-color: $secondary
    border: $secondary
    border-radius: $border-radius

.btn-secondary:hover
    background-color: $secondary-hover
    border: $secondary
    box-shadow: $shadow

.btn-secondary:focus
    background-color: $secondary-hover
    border-color: $secondary-border-hover
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)

.btn-white
    background-color: $white
    color: black
    border: $white-border
    border-radius: $border-radius

.btn-white:hover
    background-color: $white-hover
    border: $white-border-hover
    box-shadow: $shadow

.btn-white2
    background-color:#F9F8F3
    color: black
    border:1px solid #CACACA
    border-radius: $border-radius

.btn-white2:hover
    background-color: $white-hover
    border: $white-border-hover
    box-shadow: $shadow

.btn-outline-primary
    background-color: #E6E6E6
    color: $primary
    border: $primary-border
    border-radius: $border-radius

.btn-outline-primary:hover
    background-color: $primary
    color: white
    border: $primary-border-hover
    box-shadow: $shadow

.btn-outline-primary:focus
    background-color: $primary-hover
    border-color: $primary-border-hover
    color: white
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)

.btn-outline-primary2
    background-color: #E6E6E6
    color: $primary
    border: 2px solid #5879BC
    border-radius: $border-radius

.btn-outline-primary2:hover
    background-color: $primary
    color: white
    border: 2px solid #5879BC
    box-shadow: $shadow

.btn-outline-primary2:focus
    background-color: $primary-hover
    border: 2px solid #5879BC
    color: white
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)

.btn-outline-primary3
    background-color: #E6E6E6
    color: $primary
    border: 2px solid #5879BC
    border-radius: 0.7rem

.btn-outline-primary3:hover
    background-color: $primary
    color: white
    border: 2px solid #5879BC
    box-shadow: $shadow

.btn-outline-primary3:focus
    background-color: $primary-hover
    border: 2px solid #5879BC
    color: white
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)

.btn-outline-primary4
    background-color: white
    color: black
    border: 2px solid #5879BC
    border-radius: 1.5rem

.btn-outline-primary4:hover
    background-color: $primary
    color: white
    border: 2px solid #5879BC
    box-shadow: $shadow

.btn-outline-primary4:focus
    background-color: $primary-hover
    border: 2px solid #5879BC
    color: white
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)

.btn-outline-primary5
    background-color: white
    color: black
    border: 2px solid #5879BC
    border-radius: 0.5rem

.btn-outline-primary5:hover
    background-color: $primary
    color: white
    border: 2px solid #5879BC
    box-shadow: $shadow

.btn-outline-primary5:focus
    background-color: $primary-hover
    border: 2px solid #5879BC
    color: white
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)

.btn-filtrar
    background-color: $white
    border: $white
    color: black

.btn-filtrar:hover
    background-color: $white-hover
    border: $white
    color: black
    box-shadow: $shadow

.btn-outline-secondary
    background-color: #E6E6E6
    color: black
    border: $secondary-border
    border-radius: $border-radius

.btn-outline-secondary:hover
    background-color: $secondary
    color: white
    border: $secondary-border-hover
    box-shadow: $shadow

.btn-outline-secondary:focus
    background-color: $secondary-hover
    border-color: $secondary-border-hover
    color: white
    box-shadow: 0 0 0 0.25rem rgb(255 124 95 / 0%)