$primary: #5879BC
$secondary: #FF7C5F
$secondary-hover: #fc6543
$border-raius: 60px

.btn-primary
    background-color: $primary
    border: $primary
    border-radius: $border-raius

.btn-primary:hover
    background-color: $primary
    border: $primary
    border-radius: $border-raius

.btn-secondary
    background-color: $secondary
    border: $secondary
    border-radius: $border-raius

.btn-secondary:hover
    background-color: $secondary-hover
    border: $secondary
    border-radius: $border-raius
